[2015-01-15 10:37] iancrowther opened #7 "Global video vault"
@rosskukulinski @bencevans @basicallydan

where do you put your videos? we put them on youtube?

I'm wondering if simple links to each others video vault would do for now.. that way we post to our preferred channels as usual, in the usual format with no admin

thoughts?

[2015-01-15 17:30] rosskukulinski commented on #7
I've been putting them up on up on my personal YouTube: https://www.youtube.com/playlist?list=PL-haG1KBddyv9gtC9TZFGwJA44SZ0ULOj

I'm thinking just having a quasi-organized README.md with topics/authors/talk title/link should be fine to get us started.

[2015-01-15 18:15] iancrowther commented on #7
ok - we have an LNUG youtube channel which you can just link to :-) simples

[2015-01-18 13:44] ifraixedes opened #8 "Hackday Guide"
@lnug with @opensauceit ran a hackday yesterday (17/01/2015), we are asking to the community some feedback about it to know if you are interested in attending more events like this.

Feedbacks can contains:
- Things that were good and to repeat in next events.
- Things that we missed, we should provide in the future events.
- Improvements.
- Suggestions.

Please, refrain from posting comments that

[2015-01-19 10:46] iancrowther commented on #8
My initial thoughts are to run the next event as a 2 day and spend the first morning on planning and analysis.  Although we had a solid vision, we simply had not thought about the details enough.

[2015-01-19 11:16] ifraixedes commented on #8
@iancrowther good point, because if we don't want to burn out, the time period from 10 to 5 is good because it's weekend, however one day is difficult to get a lot done, you know, we catch up with people, we put the brains in the context and the project status and we start to hack, then one half day is gone, then having two days we should get 1.5 days coding.

[2015-01-20 14:57] trevorah commented on #8
Having the barebones site pre-made by @orliesaurus was awesome as it really helped to solidify what we were doing. By this I mean we didnt need to have a long discussion over what people thought the site should look like etc.

Its hard to organise a distributed team, especially if the majority of them have never worked together in the past. And to get them working on the same repo? Thats crazy har

[2015-01-20 16:34] jkbits1 commented on #8
@trevorah I like your suggestion. It really helps me if I can focus mainly on the code with a small group, especially with a tight timescale. Having a clear-cut target and not spending too much time on different teams discussing  the best approach sounds ideal.

[2015-01-20 18:50] ifraixedes commented on #8
I agreed with @trevorah and @jkbits1 those suggestions apply for hackathons that we would like to run to a clear target which is not achievable during the hack time that obviously it was the case to create @GitEvents

@iancrowther was in the point to create a hackathon under that topic but after he gave the freedom to work in personal projects, I agree with that approach, and some people worked in

[2015-01-20 21:00] iancrowther commented on #8
all valid points..

keep it rolling in as it will make for a more professional experience in the future.. once again, your participation is greatly appreciated..

beer on the 28th anyone?

[2015-01-28 14:31] iancrowther opened #9 "Add address to ti.to ticket"

[2015-01-28 15:27] ForbesLindesay commented on #9
:+1:

[2015-01-28 15:32] basicallydan commented on #9
:+1:

[2015-01-28 16:42] iancrowther opened #10 "Fix Lanyrd History"
it has no POST api

[2015-01-29 10:45] ifraixedes commented on #10
For me Lanyrd is so ugly, then we could drop it; however if some people discover the LNUG events through it, we should have to keep it.

Do we know what are the sites that LNUG audience often use to keep updated?

[2015-01-29 10:53] fmsf commented on #10
We could do a pool in the next meetup, its safer to ask than to guess. Or you can keep lanyrd as an auxiliar, more manual step.

[2015-01-29 11:42] ifraixedes commented on #10
I think that the poll is good, at the end the audience are our clients. Doing manually is not that bad if it's worthwhile, otherwise from my point of view, I would dropped it.

[2015-01-29 11:44] fmsf commented on #10
Y, a simple raise of hands should be enough, then we can extrapolate it.

[2015-01-29 13:29] orliesaurus commented on #10
We can build it a POST API with PhantomJS, or something, who wants to help?

[2015-01-29 17:31] ifraixedes commented on #10
@orliesaurus what you mean specifically for @lnug or in the scope of @gitevents?

[2015-01-29 20:24] orliesaurus commented on #10
yes @ifraixedes Correct me if i am wrong but you can use phantomjs to perform complicated manipulations of the DOM ? so we can automate login and creation of new events?

[2015-01-29 20:48] iancrowther commented on #10
@orliesaurus yes we *could* do that...

We should see if there is much SEO benefit to it first.. evaluate its worth a little and then decide on a course of action

[2015-01-29 20:48] iancrowther commented on #10
analytics on the lnug home page and referer url's would be of more use right now

[2015-01-29 20:54] orliesaurus commented on #10
What do you mean by referer's URLs? It's very hard to track incoming searches from google nowadays

[2015-01-29 21:09] ifraixedes commented on #10
@orliesaurus PhantomJS is headless browser, so you are right, the issues may come if Lanyrd has any kind of protection for robots, depending of the protection the level of complexity and work to do would vary.

I don't know any about capchas, some people bypass them with not much problem, that it's the first and easy protection that Lanyrd may have.

On the other hand I faced with one site that it

[2015-01-29 23:46] orliesaurus commented on #10
They can suck our balls, to be honest if they have protection versus scripted browsers they don't deserve our support.
I don't think they have captchas in Lanyrd.

[2015-01-30 10:42] ifraixedes commented on #10
@orliesaurus you can see them straightaway on https://github.com/GitEvents/gitevents/issues?q=is%3Aissue+is%3Aclosed+lanyrd

[2015-01-30 11:39] iancrowther commented on #10
@orliesaurus referer url = http://lnug.org?src=lanyrd

?src=lanyrd <- this is the referer bit

[2015-01-30 17:17] orliesaurus commented on #10
@iancrowther  you can track those with google analtyics by default

[2015-01-30 17:54] iancrowther commented on #10
I do believe so

[2015-01-30 20:59] ifraixedes commented on #10
I was thinking in that, but I haven't used Google Analytics that much and with @orliesaurus [comment](https://github.com/lnug/feedback/issues/10#issuecomment-72102105) I thought that I was wrong thinking that it was too simple as that ;D

[2015-01-30 21:36] orliesaurus commented on #10
FYI: https://support.google.com/analytics/answer/1033867?hl=en

[2015-02-04 15:43] iancrowther commented on #10
+1

[2015-02-05 13:31] iancrowther opened #11 "Venue for 2016"
Help us put together a list of venue to contact.

[2015-02-05 14:09] ifraixedes commented on #11
Rainmaking Loft London have an [event space](http://www.rainmakingloft.com/london/event-space/) which can ask to use.

Rasthy is the general manager and I can ask directly him.

[2015-02-05 15:14] orliesaurus commented on #11
Google Campus

[2015-02-05 15:23] iancrowther commented on #11
TechHub

[2015-02-05 15:24] iancrowther commented on #11
Facebook

[2015-02-05 15:24] iancrowther commented on #11
Github?

[2015-02-05 15:45] simonmcmanus commented on #11
what capacity are we looking for?

This appears to be quite a good list of tech friendly venues in London:

https://docs.google.com/spreadsheet/ccc?key=0AmK8OoJsMrtedGVxQW82NmRiU18tZnkyVHpjSE5fdnc&utm_content=buffer945ee&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer#gid=0

[2015-02-05 16:11] arcturus commented on #11
We could host at mozilla, the only issue is that our space has a capacity for 50 people, and perhaps that's not big enough for this meetup.

[2015-02-05 17:09] iancrowther commented on #11
@arcturus thanks for the offer, we may take you up for hackdays..

Capacity should be 200.  We had ~180 at the last event

[2015-02-05 19:23] ifraixedes commented on #11
@iancrowther then Rainmaking Loft is discarded people don't fit into.

[2015-02-06 13:10] Josh-a-e commented on #11
How about Wayra? It's just off of Tottenham Court Road. I used to be part of a start up there and they've got a great event space.

[2015-02-06 14:51] orliesaurus commented on #11
I think they require you to share your attendee's email with them? Maybe I'm wrong...

[2015-02-06 15:04] Josh-a-e commented on #11
Having just checked, no they don't :)

[2015-02-06 15:05] orliesaurus commented on #11
@Josh-a-e That's a brilliant news then! Thanks for checking :smile:

[2015-02-06 15:09] Josh-a-e commented on #11
I've got a meeting there on Wednesday - I'll bring it up and let you know what they say.

[2015-02-06 16:25] iancrowther commented on #11
awsm

[2015-02-13 11:13] orliesaurus commented on #11
@Josh-a-e how did the meeting go :D ?

[2015-02-13 11:17] fmsf commented on #11
if you guys want to do one at paypal/ebay I can get us the space, but it is in richmond

[2015-02-13 11:18] Sarkie opened #12 "Not on a Wednesday?"
Any chance that the day could be Mon, Tue, Thursday,  it is always overloaded for me and my developers on a Wednesday to come along?

Cheers

[2015-02-13 12:25] ifraixedes commented on #12
I think, that change should be driven by a poll to the community

[2015-02-13 12:31] ifraixedes commented on #11
@fmst it should be a big change, I guess that the most of the attendees come from London city.

On the other hand for speakers from abroad that they sometimes get the chance to speak would be harder because I guess that the most of the times they visit London city.

[2015-02-13 12:32] paulbjensen commented on #11
If anyone knows a contact at Yahoo UK I imagine that they might have the facilities, plus they're a Node.js shop too.

[2015-02-13 20:58] orliesaurus commented on #11
@fmsf dont paybal ebay also have an office at TCR ? I been there once but I dunno how much space they got!

[2015-02-13 21:19] iancrowther commented on #12
agreed - @ifraixedes want to put one together and tweet it?

[2015-02-13 21:46] fmsf commented on #11
Oh yeah we do, I have never been there but I can check if we can host there
On 13 Feb 2015 20:58, "orliesaurus" <notifications@github.com> wrote:

[2015-02-14 16:03] ifraixedes commented on #12
How do we want to poll? I see that a github issue can be quite messy to count the results, isn't it?

[2015-02-14 19:51] iancrowther commented on #11
@fmsf would be great if you could

[2015-02-14 19:51] iancrowther commented on #12
https://support.google.com/docs/answer/87809?hl=en

[2015-02-15 23:39] ifraixedes commented on #12
Done, see [here](https://docs.google.com/forms/d/1wcdj0_kp-gPTr70fzVf_c-dwkumrmsYIgHAOAlZYs1Q/viewform)

Let me know what date we should close the poll to add, then I will tweet about it

[2015-02-16 02:37] orliesaurus commented on #12
LNUG has been on a wednesday for about 3 years now

[2015-02-16 09:44] Josh-a-e commented on #11
@orliesaurus Hey - had a chat with Wayra: there policy is that if there's enough value to their cohort (which is brand new) they're more than happy to host the event for free, on the conditions they get 2 minutes to introduce themselves (Wayra) and each of the relevant start ups at the beginning (just a line or two about what they're doing with node) - hope this sounds ok with you (I'm sort of ass

[2015-02-16 10:11] ifraixedes commented on #12
Yeah, but I don't feel that a question to the audience can hurt, anyway, I can delete the form. Let me know.

[2015-02-16 10:16] ifraixedes commented on #11
I don't think that they ask for too much,  if the other options don't fit as it could, then I wouldn't say no, because is fair; everybody want something in exchange.
However it's just my opinion.

[2015-02-16 16:25] orliesaurus commented on #11
Thanks @Josh-a-e - I appreciate it and it's a fair deal, I would keep this option open!

[2015-02-16 16:27] orliesaurus commented on #12
No need to delete, how will you gather feedback? do you want me to announce it next month?

[2015-02-16 16:40] admataz commented on #12
The problem with this "ask the community approach" with a question like this is that you will never satisfy everyone - and there can never be a unanimous answer to this question that suits everyone's schedules.

I don't disagree in principle with moving to another day in the week, or alternating it, but I think the motivations and decision making should be internal to the organisers -  and I think

[2015-02-16 16:57] ifraixedes commented on #12
A poll does not means that the change must change, it's to know the preferences of the people; I don't like that the poll, google form in this case, is accessible in anonymous form, so somebody could vote as many times as he/she wants, then cheat the results, but to control that people should have a google account, so I wasn't sure if we only want to offer the right to vote to people who owns a go

[2015-02-16 17:03] admataz commented on #12
I agree totally @ifraixedes, let's just make sure people know we are just gathering input and will do our best to keep everyone involved.

[2015-02-16 17:07] ifraixedes commented on #12
Ok, I will update this evening the form description to mention it; that has been very good point, thanks @admataz

[2015-02-16 17:27] Josh-a-e commented on #11
No worries, that's good to hear. I've found two so far.

[2015-02-16 20:41] ifraixedes commented on #12
I updated it with the mentioned notice

[2015-02-16 22:10] admataz commented on #12
thanks @ifraixedes

[2015-02-18 08:26] iancrowther commented on #12
we want the community to feel like were listening and trying to progress.  A simple form gives them a voice.  no big announcements, just a simple tweet

[2015-02-18 11:57] sideshowcoder commented on #10
Just to throw that in here, I think a show of hands at the meetup is not that useful as those people already found the meetup so they are unlikely to use lanyrd again (honestly why would you ;)) so they are not a representative group in this case. From my own experience looking for meetups I know that lanyrd is a good place to find new ones, beside meetup.com. Analytics should tell more.

[2015-02-18 14:20] tomgco opened #13 "Flickr Album"
Would be nice to have a Flickr album dedicated to LNUG.

I would happily start brining my camera to the events I can attend to take photos.

Thoughts?

[2015-02-18 17:48] ifraixedes commented on #13
My 5 cents.

I think that it wold be a good idea if somebody wants to take the responsibility of it; you may want to take it, however somebody should take it as well to avoid only have pictures in the events that you can attend and not in others.

On the other hand we could encourage to people to take pictures and send us to add to the album, however some people would like to take the responsibili

[2015-02-18 21:35] iancrowther commented on #13
agreed, this is an area that would need ownership.  however team photography would be great.  im sure there are some dusty cameras knocking around

[2015-03-04 12:08] orliesaurus commented on #13
@tomgco you want ownership :P ? if not we'll keep having @jkbits1 take pics and post them to twitter (which is okay for me)

[2015-03-04 12:10] orliesaurus opened #14 "Move jobs to github"
I think we should adopt the same mechanism that we have for speaker applications on the job section.
I don't see why we need a password to allow job posting, having github-as-a-backend will allow us to edit/delete job ads that are not welcome.

Best,

[2015-03-04 12:17] admataz commented on #14
To my understanding -  @andrew's initial idea behind the password that was only revealed at events,  was to ensure recruiters were attending the events, and as such were genuine members of the community. So it was less of a spam filter, and more of a community filter.

[2015-03-04 12:48] orliesaurus commented on #14
Ok how many recruiters do you think will be "spamming" our job board if we use github as a backend?

[2015-03-04 13:05] admataz commented on #14
Well the question is really, does the password help the event?. i.e. will people looking to hire node developers come to the events to talk to people  whether they need to get the password for the jobs board or not,  or will they just post jobs and would that still be ok?

[2015-03-04 19:46] tomgco commented on #13
@orliesaurus I will take ownership of this, as long as speakers don't mind flashes going off, @jkbits1 is more than welcome to keep posting photos on the twitters though :D

[2015-03-04 20:57] orliesaurus commented on #14
Idk, what do you think??

[2015-03-05 11:32] iancrowther commented on #14
ok so im aware of a few.. we had 2 agencies at the last event

[2015-03-05 11:32] admataz commented on #14
looking at our jobs board, we aren't exactly drowning in job posts - so I reckon you are right and it's worth bringing the technology together - and take it from there. I don't get the impression that many attendees are coming to the event because they have to get the password to post a vacancy they have.

[2015-03-05 11:34] admataz commented on #14
oh - ok just as I posted my comment @iancrowther posts to the contrary :) Were they there for the password? Or do you think are they attending anyway because they want to meet potential candidates?

[2015-03-05 11:37] admataz commented on #13
If we sort out some constant lighting generally - a spot or something, because it's bad in the videos too, would flashes still be necessary?

[2015-03-05 11:39] iancrowther commented on #14
networking - we never gave out the password :-)

[2015-03-05 11:42] admataz commented on #14
ok so in a long winded sort of way, @orliesaurus  - personally, I have no objection to your suggested enhancement. +1 !

[2015-03-06 10:48] sideshowcoder commented on #14
Just my opinion but I feel there is no lack of general Job boards, but having one closely related to this community seems useful. Making it more general will probably get more jobs on it but I would be sure it increases the sum value of the jobs posted. I mean there is generally no shortage in jobs for node developers I feel, but the filtering is very bad in general so if it gets backed by github

[2015-03-06 23:45] orliesaurus commented on #13
We'll have a new venue soon P.S @iancrowther can u mail me the details of the guy that offered us his venue last time :O

[2015-03-06 23:46] orliesaurus commented on #14
Yup that's what I mean - we have more control over the posts, i.e. last few months there was .NET job advertised - lol and to delete it you had to go through the mongodb interface. pretty annoying if you ask me :(

[2015-03-07 11:40] tomgco commented on #13
Really depends on how powerful the projector is and if it is still legible in brighter conditions.

EXCITE!

[2015-03-07 12:04] sideshowcoder commented on #14
Yeah that makes sense. In that case :+1

[2015-03-08 23:54] ifraixedes commented on #14
It sounds like a plan; +1

[2015-04-02 09:56] iancrowther opened #15 "Help us curate speakers"
Speaking with Fintan Ryan (http://www.meetup.com/iotlondon/)

[2015-05-14 12:47] iancrowther opened #16 "Triangle Stickers"
I would love to gather some ideas for triangle stickers.

We have a contributor one for everyone who attended the hackday (Come see me on the 27th)

![img_2853](https://cloud.githubusercontent.com/assets/76060/7631899/bafa1826-fa3f-11e4-9b8c-64af5e8d8282.JPG)

[2015-05-14 12:49] iancrowther commented on #16
@maxwellito how about one for speakers to show you have done a talk?

[2015-05-14 21:33] maxwellito commented on #16
I'm good with it. What the logo would be? A megaphone?

[2015-05-15 09:13] iancrowther commented on #16
could work, also maybe a microphone or speech bubble

https://brianjpankratz.files.wordpress.com/2012/11/talk.gif

[2015-05-17 12:56] maxwellito commented on #16
Ok, any ideas for the position?
The right one is taken now. So bottom left? bottom right? left? top left? top right?

[2015-05-17 20:39] iancrowther commented on #16
your call :-)

[2015-05-20 20:49] maxwellito commented on #16
![official_triangle](https://cloud.githubusercontent.com/assets/1097232/7736188/007725d4-ff3a-11e4-8f88-fbde314ebea5.gif)
Bottom right, what you think?

[2015-05-21 09:54] iancrowther commented on #16
nice

[2015-05-21 09:59] maxwellito commented on #16
Any ideas? Things to change? Things to try?
Or maybe you want the feedback of somebody else.
On 21 May 2015 10:54, "Ian Crowther" <notifications@github.com> wrote:

[2015-05-21 17:36] iancrowther commented on #16
we should ask speakers if they want it first, then if they do, print them

[2015-05-21 17:44] iancrowther commented on #16
more sticker ideas? not sure tbh

[2015-05-23 11:19] iancrowther opened #17 "Coderwall Badges (via @barisbalic)"
We should add LNUG & Nodeschool to codewall

[2015-05-27 12:24] #14 closed

[2015-05-27 12:24] #12 closed

[2015-05-27 12:25] orliesaurus commented on #12
sticking to wednesdays

[2015-05-28 10:56] iancrowther opened #18 "Node Q&A Panel"
I would like to put together a 4 person Q&A panel for LNUG.  This could be for the whole night or just be for a couple of speaker slots

[2015-05-28 11:46] simonmcmanus commented on #15
Like this idea.

Alexandra Deschamps-Sonsino  (IOT London organiser) will be able to help. Let me know if you need an intro.

[2015-05-28 14:08] iancrowther commented on #15
can you intro pls

[2015-05-28 15:05] iancrowther commented on #18
Do we have any potential questions?  what made you adopt, what made you not adopt, what went well in moving to node? etc

[2015-05-29 15:36] iancrowther opened #19 "ask attendees to comment on a monthly issue and scrape it"

[2015-06-02 16:52] iancrowther opened #20 "SWAG"
What swag do you want?

[2015-06-02 17:09] orliesaurus commented on #20
tshirts

[2015-06-03 07:19] iancrowther commented on #20
t-spring.com? we can order a bunch and then let everyone purchase when we run out

[2015-06-03 07:19] iancrowther commented on #20
any design suggestions?

[2015-06-04 09:04] web-bert commented on #18
Should you use Node for everything backend or just as a presentation layer that consumes APIs? Pros/Cons

[2015-06-05 01:38] orliesaurus commented on #20
https://github.com/lnug/lnug.github.io/blob/master/assets/stickers/official/official_hex.png

[2015-06-05 10:28] iancrowther commented on #20
we should add stickers to marketplaces such as....

https://www.stickermule.com/marketplace

[2015-06-05 10:28] iancrowther commented on #20
socks anyone? http://swag.sockclub.com/

[2015-06-05 10:33] iancrowther commented on #20
startupthreads.com

[2015-06-05 15:24] timruffles commented on #20
socks!

[2015-06-05 16:40] ifraixedes commented on #20
Socks!

[2015-06-05 17:09] iancrowther commented on #20
ok socks it is! we need a logo sorting that we can upload..

@maxwellito?

[2015-06-05 17:13] maxwellito commented on #20
Socks? You ask me to design socks? Mmmm... Is there any design
limitation/restrictions to respect?
On 5 Jun 2015 18:10, "Ian Crowther" <notifications@github.com> wrote:

[2015-06-05 21:31] iancrowther commented on #20
no we just needs an upload able logo

[2015-06-09 10:28] maxwellito commented on #20
I looked how it works. It's based on a pattern, maybe we could use the
opportunity to do something more fancy than just a logo on a pair of socks.
Tonight I'll try different designs (simple logo, pattern, and wtf).
I'll post them here
On 5 Jun 2015 22:31, "Ian Crowther" <notifications@github.com> wrote:

[2015-06-09 22:27] maxwellito commented on #20
I have the LNUG logo in big size (transparent and with grey background)
But I couldn't use the simulator of SockClub, because it was repeating the logo.

![lnug logo grey](https://cloud.githubusercontent.com/assets/1097232/8071106/f07e3f4e-0efe-11e5-84f7-f4d4debe9ec7.png)
![lnug logo transparent](https://cloud.githubusercontent.com/assets/1097232/8071107/f07fa1ae-0efe-11e5-9a88-6ce863e7c2ba.png)

[2015-06-11 15:21] iancrowther commented on #20
ha - love it

[2015-06-17 13:49] rodcul opened #21 "Add to calendar link in emails"
please :-)

[2015-06-18 08:52] iancrowther commented on #21
top suggestion

[2015-07-09 10:46] iancrowther opened #22 "Tweet YouTube uploads"
It would be great to send out a tweet from LNUG when a new video is uploaded to youtube.

The tweet should reference the video and the speaker.

Can we use zappier?

[2015-07-09 10:47] iancrowther commented on #22
bonus points for getting a link to slides as wel

maybe ask speakers to post slide link in common place and x-ref that.  maybe the Github issue?

[2015-07-09 10:50] iancrowther opened #23 "Automate "Hot Issues" & "help-wanted" notifications to community"
Possible options:
- Tweet new issues?
- List new issues in newsletter?
- List them on event slides
- Push to Gitter
- Add Help Wanted label

[2015-07-09 11:15] iancrowther opened #24 "Rebrand the YouTube channel"
We are using an old background photo.

Can we get some help to bring this back inline?

[2015-07-09 11:16] iancrowther opened #25 "YouTube Intro Video's"
We need to add some LNUG intro video's
- What is LNUG
- How to speak at LNUG
- How to participate

[2015-07-09 11:18] iancrowther opened #26 "create / update a participating guide"
We need to make it much clearer how to get involved.

Can we create/update a guide?

- Top Issues?
- Areas of expertise required?
  - Design
  - Marketing
  - Video
  - Photography
  - Other?

[2015-07-09 11:39] iancrowther opened #27 "Slide Feedback"
Ask folks to join the Gitter room and say hi

[2015-07-09 11:41] iancrowther opened #28 "Xmas Party!!!"
[code]

[code]

[2015-07-09 11:56] iancrowther opened #29 "Add venue information to the website"
We field this question every month, so a PR would be a big win

[2015-07-09 11:58] iancrowther opened #30 "create an organisers google calendar"

[2015-07-09 12:03] iancrowther opened #31 "do we want to be on meetup"
can we be on meetup without using their ticketing system etc

[2015-07-09 12:45] ifraixedes commented on #31
No, for me

[2015-07-09 12:45] iancrowther commented on #31
if were just using it to gain reach?  can we jsut promote event with it and ignore the other features?

[2015-07-09 12:49] iancrowther opened #32 "add org chart to website"
For example:

general queries to @iancrowther @orliesaurus
ticketing queries to @jkbits1
design queries to @maxwellito
sponsorship queries to @iancrowther
speaker queries to @orliesaurus
catering queries to @iancrowther
website queries to @web-bert
instagram queries to @tomgco
video queries to @johnnybridges
twitter queries to @trevorah
gitter queries to @alanshaw
lanyrd queries to @massimilianomu

[2015-07-09 12:58] iancrowther opened #33 "brand / skin ti.to"
this is part of the rebranding

[2015-07-09 13:05] iancrowther opened #34 "remove "this month" from website"
Its redundant

[2015-07-09 13:07] iancrowther opened #35 "add mailchimp newsletter reg form to homepage"

[2015-07-09 13:10] iancrowther opened #36 "Consistant Branding"
It would be awesome to start with a UX review on the website and document the Information Architecture.  Followed by the maillist etc

[2015-07-09 16:04] iancrowther commented on #36
@benbyford - what do you need to know?

[2015-07-09 16:25] iancrowther commented on #32
cc @maxwellito

[2015-07-09 19:15] #32 closed

[2015-07-09 19:25] iancrowther opened #37 "Update Org Chart"
@lnug/organisers

Can everyone check their details on this chart and confirm they are happy to take ownership if their give tasks.

https://github.com/lnug/feedback/blob/master/ORGANISERS.md

Thanks

[2015-07-09 19:35] iancrowther opened #38 "need someone to own the maillist"

[2015-07-09 19:36] iancrowther opened #39 "need another help for registrations"

[2015-07-09 20:01] iancrowther opened #40 "Update speaking readme with screen recording details"
https://github.com/lnug/planning/blob/master/RECORDINGS.md

[2015-07-09 20:13] iancrowther opened #41 "add note to speakers readme for screen recording"
this is for PIP videos to youtube

[2015-07-09 20:15] iancrowther commented on #41
cc @johnnybridges

[2015-07-09 20:18] iancrowther opened #42 "Bot to add attendees to contributors team"

[2015-07-09 21:48] #7 closed

[2015-07-09 21:50] iancrowther commented on #16
@maxwellito can you prep this sticker for print?

[2015-07-10 16:05] admataz commented on #38
I can take this on - let's discuss how you want to managed and what's entailed.

[2015-07-10 16:20] admataz commented on #38
ok cool - just catching up with all the issues here

[2015-07-10 16:44] iancrowther commented on #38
:-)

[2015-07-10 17:01] admataz commented on #42
just to clarify - do you want confirmed attendees from the Tito check-in to be automatically added as collaborators... to which lnug repos?

[2015-07-11 09:25] iancrowther commented on #42
they will just see the public repos as normal

[2015-07-11 19:30] maxwellito commented on #16
Where shall I post the file?

[2015-07-11 20:58] iancrowther opened #44 "Add Maillist signup form to website"

[2015-07-11 20:59] iancrowther commented on #35
duplicate #44

[2015-07-11 20:59] #35 closed

[2015-07-11 21:54] iancrowther commented on #16
um! where did they go before?

[2015-07-11 21:56] iancrowther commented on #16
https://github.com/lnug/lnug.github.io/tree/master/assets/stickers

[2015-07-12 12:16] iancrowther commented on #40
cc' @johnnybridgets

[2015-07-12 12:20] iancrowther commented on #37
moved to Gitter as this does not really have a resolution

[2015-07-12 12:20] #37 closed

[2015-07-12 12:23] iancrowther commented on #30
https://www.google.com/calendar/embed?src=qcfsvg5sta1viu1bicn0imjlrc%40group.calendar.google.com&ctz=Europe/London

[2015-07-12 12:23] #30 closed

[2015-07-12 12:25] iancrowther commented on #36
Need to redo the slides & ti.to also

[2015-07-12 12:25] iancrowther commented on #33
mentioned in #36

[2015-07-12 12:27] iancrowther commented on #26
we have a basic participating guide.  it needs to be included or linked to form the website.

cc' @maxwellito @benbyford @tancredi

[2015-07-12 12:29] iancrowther commented on #26
in regard to top 3 issues, i have created 3 new labels.  We should list the top 3 issues were asking the community to help us fix.  this should eventually be automated

[2015-07-12 12:36] iancrowther opened #45 "Script to resize sponsor logos"
We use sponsor logos in a range of places and need them in a range of sizes.

[2015-07-12 12:38] iancrowther commented on #45
currently we have a python script to do some magic.. we can extend or do in node.. im easy

[2015-07-12 12:41] iancrowther opened #46 "Script to resize sponsor logos"
We use sponsor logos in a range of places and need them in a range of sizes.

[2015-07-12 12:46] iancrowther commented on #25
know anyone who does video?

[2015-07-12 12:46] iancrowther commented on #23
Add to website

[2015-07-12 12:46] iancrowther commented on #23
Automate..

[2015-07-12 12:47] iancrowther commented on #23
hey @jkbits1 this could feed into the twitter bot you were tinkering with

[2015-07-12 12:49] iancrowther commented on #23
question though.. should this handle posts to a range of services? or should we have one module for each?

[2015-07-12 12:51] iancrowther commented on #21
have added to this months newsletter

[2015-07-12 12:51] #21 closed

[2015-07-12 12:52] iancrowther commented on #42
duplicate of #19

[2015-07-12 12:53] iancrowther commented on #19
closing in favour of #42

[2015-07-12 12:53] #19 closed

[2015-07-12 12:54] iancrowther commented on #45
@tomgco @alanshaw any chance you guys could take a look?

[2015-07-12 12:55] iancrowther commented on #44
ask @web-bert for advice and PR reviews

[2015-07-12 12:56] iancrowther commented on #24
speak with @maxwellito or @benbyford for guidance here

[2015-07-12 12:58] iancrowther commented on #17
@barisbalic - can you add some more details?

[2015-07-12 12:58] iancrowther commented on #15
@simonmcmanus you never intro'd

[2015-07-12 12:59] iancrowther commented on #39
can you work with @jkbits1 to get this resolved

[2015-07-12 13:01] iancrowther commented on #8
@lnug/organisers if you want some help automating some of your actions.. we can do a hackday.  just let meknow

[2015-07-12 13:03] iancrowther commented on #13
@tomgco is this this alive?

[2015-07-12 15:16] simonmcmanus commented on #15
intro sent. Apologies for delay.

[2015-07-13 12:27] simonmcmanus commented on #45
I started work on moving away from the .py script at the weekend.

If we can make this a standalone node script it will be nice and easy to run with the new setup.

Any questions just shout.

[2015-07-13 15:19] iancrowther commented on #45
top man, can you jot some notes down.  I have no idea what questions may arise :-)

[2015-07-13 16:00] simonmcmanus commented on #45
it will all be in the readme once its sorted. It wont be much more than:

npm run update
npm run deploy

My work is not related to the images resizing script though. That should be a separate script.

[2015-07-13 16:43] iancrowther commented on #45
might want a new issue then

[2015-07-13 17:13] simonmcmanus commented on #45
Nah it's fine.  Only commented here so no one touches the py script.

Sent from my iPhone

[2015-07-14 06:27] web-bert commented on #34
This month takes you back to the homepage, do you want to remove the home link?

[2015-07-14 06:40] web-bert commented on #44
do you have a link for this?

[2015-07-14 09:24] iancrowther commented on #44
@web-bert speak with @admataz as he can provide you the markup

[2015-07-14 09:26] iancrowther commented on #34
what do you think? maybe add some css to highlight the selected page?

[2015-07-14 09:26] iancrowther commented on #34
@benbyford @maxwellito what do you guys think?

[2015-07-14 09:40] admataz commented on #44
Here's an embeddable form as produced by MailChimp  - I'll also add it to the repos. They also provide a "naked" unstyled version, or a pop-up.  If that's more useful, let me know.

@iancrowther  - I have added fields for twitter and github handles (not required)  - hope that's ok.

[code]

[2015-07-14 09:43] iancrowther opened #47 "Event listing sites"
I have been evaluating some alternative event websites to help extend our reach.

What are peoples view on:

~~- http://attending.io/~~ done
- https://splashthat.com/
- http://eventhunt.io/
- https://www.eventbrite.co.uk/
- http://meetup.com/
- https://www.eventninja.io/

[2015-07-14 09:43] iancrowther commented on #47
Any missing?

[2015-07-14 09:44] iancrowther commented on #44
do you have screenshots? might help decide

[2015-07-14 09:51] admataz commented on #44
it's a fairly standard, vanilla style form - here's a screenshot from the preview they provide inline. It should inherit any styles we have defined on the page.

<img width="779" alt="screen shot 2015-07-14 at 10 50 38" src="https://cloud.githubusercontent.com/assets/395101/8670593/38c4a2fc-2a16-11e5-9f74-51b23f0d981d.png">

[2015-07-14 10:17] iancrowther opened #48 "Website favicon 404"

[2015-07-14 10:17] iancrowther opened #49 "Website fonts cors"
[code]

[2015-07-14 11:50] web-bert commented on #44
I'll give it a go later, thanks

[2015-07-14 12:05] web-bert commented on #34
Yeah I think a highlight would help

[2015-07-14 13:26] iancrowther commented on #34
@web-bert go for it :-)

[2015-07-15 09:16] benbyford commented on #34
true, its not obvious that your on the homepage as that link isn't highlighted in any way

[2015-07-15 10:07] iancrowther opened #50 "Help with a marketing strategy?"
Were developers! help....

[2015-07-15 10:20] orliesaurus commented on #49
screenshot? cannot reproduce

[2015-07-15 10:41] iancrowther commented on #49
<img width="1280" alt="screen shot 2015-07-15 at 11 40 03" src="https://cloud.githubusercontent.com/assets/76060/8696679/5a72bc4c-2ae6-11e5-8454-1c6501f8cb6a.png">

See the debug window

[2015-07-15 19:13] ifraixedes commented on #31
That's true, however that depends of the budget, which you know better than almost everybody.

Remind you that @barcelona-js left meetup, however it had to return back to use due they lost quite mass of attendees due people looked for the event in meetup than Google, crazy?

[2015-07-16 16:37] toboid commented on #49
I can't re-create. I've tried chrome 43 on Windows and Ubuntu and the 3 calls to fonts.gstatic.com are all successful

[2015-07-16 16:51] iancrowther commented on #49
I bet it's as blocker!!!

[2015-07-16 19:42] iancrowther commented on #49
yep ad blocker.. d'oh!

[2015-07-16 19:42] #49 closed

[2015-07-21 13:05] iancrowther opened #51 "create transparent sponsor tiles for ti.to's benefit"

[2015-07-22 08:47] iancrowther opened #52 "create a graphic we can use for gravatar"
We have number of services we use the LNUG email with.  it would be great to setup Gravatar.

[2015-07-22 08:48] iancrowther commented on #52
cc' @maxwellito @tancredi @benbyford

[2015-07-22 10:10] iancrowther opened #53 "related meet-ups is missing from newsletter"
Next month :-)

[2015-07-22 14:34] iancrowther opened #54 "submit new sitemap to google."
Old site links are in google SERPS

[2015-07-23 09:02] gajjargaurav opened #55 "one click tickets"
having attended few LNUG monthly meetups, I now intend to regularly attend LNUG every month and filling out details on ti.to every month to get a ticket is repetitive . It would be much better if I can just confirm that I am coming to next event by a click of a button and get a ticket

[2015-07-23 09:58] malditogeek opened #56 "Pub after LNUG"
Canvas Bar was waaaay too loud mate. I propose http://www.oldfountain.co.uk/ for the next meetup. They don't play music so it's much easier maintain a conversation. They also have a lot of local craft beers on tap and lovely roof terrace.

:raised_hands:

[2015-07-23 10:23] trevorah commented on #56
:+1: the roof terrace makes post meetup conversations a breeze.

[2015-07-23 12:25] julienbrunuk commented on #28
Yes Yes Yes! Do you want to send a Doodle around!?

[2015-07-24 12:35] iancrowther commented on #55
Interesting, that's probably one to bubble up to ti.to

@jkbits1 does ti.to have anything like this in the pipeline?

[2015-07-24 12:43] admataz commented on #55
Filling two fields with name and email address is too repetitive? Personally I think ti.to does a pretty good job at keeping things as simple as possible from the end user perspective. But I suppose if we really wanted to get fancy here, we could take a leaf from this month's talk by @jdnash and apply some tokenization  to our registered users, and provide a one-click link from the email to a conf

[2015-07-24 13:53] gajjargaurav commented on #55
It sure sounds interesting to work on. It's not just the login, they also request for twitter account and few additional info optionally every time.

[2015-07-24 14:28] barisbalic commented on #17
https://coderwall.com/ gives people a profile with badges, people love badges, there's lots of imagery for the nodeschool tutorials, perhaps there is some overlap that will excited The Kids:tm:

[2015-07-24 14:50] olizilla commented on #17
Do people still coderwall?

If so, @substack did a load of great nodeshool workshopper badges a while back... they'd work nice.

[2015-07-24 14:52] barisbalic commented on #17
Dunno, don't care about it either way just mentioned in passing because
people like pretty.
On 24 Jul 2015 15:50, "Oli Evans" <notifications@github.com> wrote:

[2015-07-26 17:35] maxwellito commented on #24
We should choose one from the flickr galleries or create one.

[2015-07-29 10:54] iancrowther opened #57 "simple page to render the releated meetups"
Use the GH api to get event info and drive content.  its a simple piece of SEO for the other events

[2015-07-29 10:57] iancrowther commented on #24
so you should choose a master image that will go across all media channels eg youtube, tito, twitter

[2015-07-29 10:59] admataz opened #58 "create an 'attendees' list in twitter"
We ask for twitter handles in the ti.to registration - not sure where this currently goes, but it would be nice to use this data to create a public Twitter List of attendees. Would be good to be able to follow all our community in one place. Related to #42 if we are going to automate this.

[2015-07-29 11:17] iancrowther commented on #58
totally agree.

new repo with readme?

[2015-07-29 14:41] jkbits1 commented on #58
@admataz sounds good

[2015-08-08 09:13] simonmcmanus opened #59 "google search - "lnug lanyrd""
returns the first link as:

http://lanyrd.com/series/lnug/

The most recent event listed is July 2014. It makes it look like the event has not been running for a year. Or at least that we have not used lanyrd for a year.

Have we changed the way we tag the event in lanyrd since then? Im guessing it wont be too difficult to fix.

[2015-08-08 09:27] iancrowther commented on #59
Hi @massimilianomura,

1) is this months ready?
2) can you investigate?

[2015-08-08 15:03] simonmcmanus commented on #59
I should also mention I'm going to try to auto generate the lanyrd url (on the website archive) from the GitHub milestone. It will confirm the url returns a 200 before using the url for the href. This does mean we will need to publish the lanyrd event before updating the website.

Does that sound ok?

Sent from my iPhone

[2015-08-08 16:25] jkbits1 commented on #59
@iancrowther this month's lanyrd is done. Did you manage to make that doc on creating the lanyrd page?

[2015-08-08 16:43] jkbits1 commented on #59
I can't see an obvious difference between the events on the list and those omitted. The hash tag becomes lowercase in Sept 14. Those earlier events have a link "In the London Node.js User Group Meetup series", but following that doesn't provide anything useful.

[2015-08-10 09:03] simonmcmanus opened #60 "where is lnug"
Just found this page, its pretty unclear where LNUG is hosted. There are three addresses shown before I scroll. Could we remove all but the address which is against each event?

https://ti.to/lnug/

[2015-08-10 10:12] iancrowther commented on #60
agreed, you have ti.to access right? if not this is @jkbits1 area

[2015-08-10 14:13] iancrowther opened #61 "reach out to related-meetups"
We should send a tweet to our related-meetups to ask their organiser to get in touch (contact@lnug.org) so we can PR them.

@trevorah - can you schedule a tweet for this?

[2015-08-10 18:29] jkbits1 commented on #60
@simonmcmanus good point about this.

I've changed the June event details so that this no longer appears as a current event. The August event now appears at the top and as the sole current event. It looks fine to me, what do you two think?

[2015-08-11 12:13] admataz commented on #38
I'm looking after the mailing list

[2015-08-11 12:13] #38 closed

[2015-08-12 12:57] iancrowther commented on #60
I think! Can't you confirm s @jkbits1

[2015-08-12 14:14] jkbits1 commented on #60
@iancrowther  There was a reference to Shoreditch Village Hall that I removed after @lnugbot commented. Or is this a reference to something else?

[2015-08-12 14:20] iancrowther commented on #60
awesome.. perfect

[2015-08-12 14:20] #60 closed

[2015-08-13 10:50] iancrowther commented on #59
what action is to be taken here?

[2015-08-19 12:37] iancrowther opened #63 "LNUG T's"
http://startupthreads.com/

anyone want to have a stab at this?

[2015-08-21 09:52] iancrowther opened #64 "Create a related meetups shared cal"
this might be a better approach as event orgs can update themselves

[2015-08-21 10:14] olizilla commented on #64
:+1: that's a good plan. 1 cal to rule them all.

[2015-08-25 10:19] iancrowther opened #65 "gitter scheduler"
create a way to schedule gitter announcements

[2015-08-26 10:51] iancrowther commented on #34
@simonmcmanus can u action this and close

[2015-08-26 10:54] #39 closed

[2015-08-26 10:54] iancrowther commented on #56
Added to slides for August

[2015-08-26 10:54] #56 closed

[2015-08-26 10:56] iancrowther commented on #59
@jkbits1 @simonmcmanus bump

[2015-08-26 11:01] iancrowther commented on #57
thanks to @chiragdoctor

[2015-08-26 11:01] #57 closed

[2015-08-26 15:32] iancrowther commented on #56
is on the slide deck - heading there tonight :-)

[2015-08-27 10:09] gajjargaurav commented on #55
@iancrowther, @admataz I had a quick look at the ti.to api. They do not provide any write endpoints just yet so you can't add attendees to the event programmatically just yet. However I spoke to their support team and they said it is high on their priority list and as soon as it is available, I can work on it but until then I am afraid it is blocked.

[2015-09-11 10:41] admataz commented on #55
Hi @gajjargaurav  - thanks for looking into it - I'll take it off the hotlist for the time being... Hopefully we can do something with it in the future

[2015-09-11 10:46] gajjargaurav commented on #55
Hello @admataz , I am keeping an eye on this one and as soon as I see it unblocked I will work on it

[2015-09-11 21:19] iancrowther opened #67 "site calls to action"
we can relegate archive and discuss and promote newsletter and apply to speak

[2015-09-11 22:19] iancrowther commented on #67
also we need to a link to "Sponsor Us"

[2015-09-12 08:15] simonmcmanus commented on #67
I think we should probably leave discuss in the primary.

Where should said sponsor link point?

So far it's looking like this:

![screencapture-127-0-0-1-8080-1442045551544](https://cloud.githubusercontent.com/assets/55853/9830652/a8229b58-592e-11e5-925e-6855c8e7fae0.png)

Thoughts?

[2015-09-12 17:50] iancrowther commented on #67
I would ideally like a seperate page outlining the different sponsoship packages

gold / silver / bronze

with clear calls to action

[2015-09-12 17:50] iancrowther commented on #67
im not keen on the font dude, it now very nice to read

[2015-09-12 17:52] iancrowther commented on #67
also the next event thing is using way to much screen real eastate.  it would be cool to emded a ti.to ticket form there

[2015-09-12 17:53] iancrowther commented on #67
mail list is nice positioning

[2015-09-12 20:27] web-bert commented on #67
Looks good, I quite like the ticket, but maybe the newsletter signup and ticket can share the same line (when space permits)?

On 12 Sep 2015, at 18:53, Ian Crowther <notifications@github.com> wrote:

[2015-09-12 21:32] iancrowther commented on #67
Yeah rwd that sucker

[2015-09-13 08:26] simonmcmanus commented on #67
@iancrowther  is it the heading font or the body font you don't like?

[2015-09-13 08:27] simonmcmanus commented on #67
@iancrowther can you create the content as markdown files on github pls and let me know where they are located? Separate markdown files for each page. At first we can link to those pages, then I can pull them in using the build script.

[2015-09-13 08:33] simonmcmanus commented on #67
this is just the desktop version, on a mobile version there is much less white space but my screen capture software keeps getting confused:

![screencapture-127-0-0-1-8080-1441975916932](https://cloud.githubusercontent.com/assets/55853/9835920/e88ac12c-59f9-11e5-83c1-c7c4610ad395.png)

I built it mobile first (there is only one breakpoint) so it will work on all devices, if we want to optimise/cus

[2015-09-13 08:37] simonmcmanus commented on #67
i will have a play with the ticket/mailing list and see what I can come up with.

[2015-09-13 18:14] iancrowther commented on #67
@simonmcmanus - fonts sorted :-)

[2015-09-13 18:17] iancrowther commented on #67
yep - all over markdown files for the pages +1

[2015-09-13 18:19] iancrowther commented on #67
@maxwellito @benbyford @web-bert

could pitch into this discussion re: ti.to / ticket info & mail list

[2015-09-15 17:34] benbyford commented on #67
what needs style decission?

[2015-09-15 19:27] maxwellito commented on #67
To me the ti.to looks great. The only detail to change would be the space between the sponsors logos but I think somebody tried before and it wasn't possible.

[2015-09-15 20:41] iancrowther commented on #67
@maxwellito @benbyford do see the screenshots in the thread above? That'd be the contect here chaps

[2015-09-22 19:47] iancrowther commented on #10
we were wondering about SEO!!

<img width="626" alt="screen shot 2015-09-22 at 20 45 30" src="https://cloud.githubusercontent.com/assets/76060/10029665/19d2dcb0-616b-11e5-976d-0248cbfe3b87.png">

[2015-09-22 19:49] iancrowther commented on #59
@jkbits1 or @MassimilianoMura can you contact Lanyrd support and ask them?

[2015-09-22 19:54] jkbits1 commented on #59
@iancrowther good idea

[2015-09-22 19:55] iancrowther commented on #59
ok so this is to do with claims i think.

we have our events listed as:

- http://lanyrd.com/series/lnug/
- http://lanyrd.com/guides/lnug-events/

previously events were climed by the twitter account @iancrowther as we did not have @lnugorg setup

[2015-09-22 19:57] iancrowther commented on #59
also the url structure is defferent

someone needs to back trackthrough and try to bring things inline and update the instructions.

[2015-09-22 21:52] iancrowther commented on #34
so whats the deal si? shoudl we push PR's or are you doing some new magic?

[2015-09-23 15:52] iancrowther commented on #67
this needs breaking down into smaller issues

[2015-09-23 15:53] iancrowther commented on #67
@maxwellito - could you add your feedback pls

[2015-09-23 15:55] iancrowther commented on #61
@trevorah did this go out?

[2015-09-23 16:12] trevorah commented on #61
Yeah, ages ago: https://twitter.com/LNUGorg/status/631027780826693632

[2015-09-23 16:13] iancrowther commented on #9
@jkbits1 - did this get resolved? can you close issues when they are actioned :-)

[2015-09-23 16:28] iancrowther commented on #61
awesome, ty

[2015-09-23 16:28] #61 closed

[2015-09-23 16:50] olizilla opened #68 "Add event start time to landing page"
As an irregular attendee I can't easily find the start time for LNUG.

Obvs, everyone should have it tatoo'd on their arm, but looking for it on my tito ticket or the website hasn't worked.

Lanyard, has a start time for LNUG, but it's listed as 4:30.
<img width="634" alt="screenshot 2015-09-23 17 47 05" src="https://cloud.githubusercontent.com/assets/58871/10051834/7ae16e4e-621b-11e5-9bab-e787c21

[2015-09-23 16:57] admataz commented on #68
@olizilla agree. noted. it's 6.30 for 7 start btw..

[2015-09-23 18:03] simonmcmanus commented on #67
@maxwellito - yes pls. Those layouts were just based off feedback in the website repo. Keen to get more feedback before I start testing it across different browsers.

[2015-09-23 18:43] maxwellito commented on #67
![photo-on-16-09-2015-at-19 52](https://cloud.githubusercontent.com/assets/1097232/10054837/2214f8f2-622b-11e5-8a15-115185902112.jpg)

This is what I was thinking. But it's just a point of view.

**Header**
A smaller logo, seriously, currently it take half of my screen.
On desktop it can be on the same line as the menu.
On mobile the menu item must be on a separated line but must stay inline, ther

[2015-09-23 19:12] lukasz-kaniowski opened #69 "Guestbook for September 2015"

[2015-09-23 23:01] iancrowther commented on #69
well i signed it! :-)

[2015-09-23 23:53] iancrowther opened #70 "embed the LNUG gcal into the homepage"
<iframe src="https://www.google.com/calendar/embed?src=qcfsvg5sta1viu1bicn0imjlrc%40group.calendar.google.com&ctz=Europe/London" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

[2015-09-23 23:58] iancrowther opened #71 "What topics do you want to hear about?"
https://twitter.com/LNUGorg/status/646821298992214016

have reached out to @pgte & @tomgco for performance.

[2015-09-24 00:10] iancrowther commented on #68
agreed

[2015-09-24 00:12] iancrowther commented on #69
@lukasz-kaniowski - went well then this initiative.. :-)

[2015-09-24 00:15] iancrowther commented on #9
![Uploading Screen Shot 2015-09-24 at 01.14.51.png…]()

[2015-09-24 00:15] #9 closed

[2015-09-24 00:16] iancrowther commented on #71
https://github.com/lnug/feedback/issues/15

[2015-09-24 00:17] iancrowther commented on #16
@maxwellito should we persue this?

[2015-09-24 00:20] iancrowther opened #72 "link to participating guide from website"
https://github.com/lnug/feedback/blob/master/PARTICIPATING.md

[2015-09-24 00:20] iancrowther commented on #26
Guide added.

https://github.com/lnug/feedback/blob/master/PARTICIPATING.md

See. https://github.com/lnug/feedback/issues/72

[2015-09-24 00:20] #26 closed

[2015-09-24 00:23] iancrowther commented on #48
<img width="247" alt="screen shot 2015-09-24 at 01 23 01" src="https://cloud.githubusercontent.com/assets/76060/10062475/d4b641f8-625a-11e5-8b31-93c0f6a16863.png">

[2015-09-24 00:23] #48 closed

[2015-09-24 00:24] iancrowther commented on #63
The t-shirt is in your hands duuude..

[2015-09-24 00:25] iancrowther commented on #46
duplicate https://github.com/lnug/feedback/issues/45

[2015-09-24 00:25] #46 closed

[2015-09-25 09:45] mikeljames commented on #58
Hey guys have you made a start on this? Got an idea to try out JAWS https://github.com/jaws-framework/JAWS with this it looks this would be a perfect fit for it. Let me know if you haven't started already and what you think we need.

So its a webhook from ti.to that then takes the attendee @handle in the signup to add them to a specific list on twitter. each event will have its own attendee list o

[2015-09-25 10:43] iancrowther commented on #58
@jkbits1 has this started? I don't think it has to any degree.

@mikeljames I think this would be fantastic, we can even do a talk on how it was built, how to contribute and how it could be used for spin-offs.

win win win :-)

[2015-09-25 12:21] mikeljames commented on #58
Sounds good! I'll do my best to get it ready for the next meetup :D

[2015-09-25 12:25] mikeljames commented on #58
I've setup my own ti.to account and testing with that api. but eventually I'll need to use the lnugs api keys for ti.to and twitter.

Also does lnug have its own aws account?

[2015-09-25 16:39] iancrowther commented on #58
Come to think of it no! Would prefer digital ocean or heroku or any that will give us some free / cheap space

[2015-09-25 16:39] iancrowther commented on #58
I think rackspace may have some community options

[2015-09-27 20:07] admataz commented on #58
I'm guessing the [JAWS framework](https://github.com/jaws-framework/JAWS) requires the service to be hosted on AWS, in which case Heroku and Rackspace won't work for @mikeljames's suggestion. Would that be a blocker @iancrowther? I would also think a solution that is not provider dependent is better for LNUG and the kind of spin-offs you envisage...  but wouldn't want to put you off trying this if

[2015-09-28 08:15] iancrowther commented on #58
@mikeljames @admataz gotcha, I'll actually read the readme this time ;-)

JAWS says cheap apps, so I'm intrigued to know how it stacks up against the alternatives.  Do they have a comparison chart anywhere which could be shared?

[2015-09-28 08:25] admataz commented on #58
my other 2p - is that a full framework like JAWS _seems_ like overkill for processing and relaying a simple web hook request to twitter - one could surely do that with a couple of simple modules using [request](https://github.com/request/request)  -  but the other side of me thinks why the hell not - if AWS is something that's worth experimenting with.

[2015-09-29 16:30] iancrowther commented on #58
AWS for me has always been an enterprise solution, however if they are now reaching into our price bands, its worth investigating.

[2015-09-30 19:49] maxwellito commented on #16
No idea :(
*(I know it's not helping)*

[2015-10-01 10:13] mikeljames commented on #58
Hey! Yeah so if you open a new aws account you'll get 1 year free with AWS plus with lambda on AWS you pay for what you actually use. So no requests == no bills. You pay for the amount of time your lambda functions run for.

Here's a price list: https://aws.amazon.com/lambda/pricing/

Yeah well I thought maybe the fact we could process these webhooks from ti.to via aws in a non server environment

[2015-10-01 11:26] iancrowther commented on #58
@mikeljames - thanks for the update, no complaints here.  can you setup an account using contact@lnug.org and ill verify the address if req'd.

cant argue with £0 and i agree with the overkill sentiment.

[2015-10-01 14:44] mikeljames commented on #58
@iancrowther cool, I've also just been discussing this with @clarkie he's also suggested having a look at hook.io.

If I build it in the right way we could deploy it to both and afterwards compare the two.

[2015-10-02 07:17] ifraixedes commented on #58
Hi guys, I thought that this package https://github.com/node-hocus-pocus/thaumaturgy may be useful, although you may already be aware of it.

[2015-10-06 22:08] mikeljames commented on #58
:) Thanks @ifraixedes  I'll have a look.

[2015-10-16 11:55] alanshaw commented on #63
How many?

[2015-10-16 14:11] iancrowther commented on #63
@alanshaw is a superstar!

Secret stash of t's is on order...

[2015-10-16 14:11] #63 closed

[2015-10-23 21:50] #69 closed

[2015-10-23 21:52] iancrowther commented on #67
@simonmcmanus was this useful?

[2015-10-23 21:57] iancrowther commented on #59
whoever takes ownership of lanyrd should take on this

[2015-10-23 21:57] iancrowther commented on #58
@mikeljames - hows this coming along?

[2015-10-23 22:00] iancrowther commented on #54
@simonmcmanus can take on this please?

[2015-10-23 22:00] #53 closed

[2015-10-23 22:00] iancrowther commented on #52
can you take a look at this please

[2015-10-23 22:02] iancrowther commented on #51
hey @maxwellito did you get round to this?

[2015-10-23 22:03] iancrowther commented on #51
@maxwellito should we be concerned with this?

[2015-10-23 22:05] jkbits1 commented on #51
I think the white tiles look fine

[2015-10-23 22:07] iancrowther commented on #45
@tomgco @simonmcmanus any movement on this?

[2015-10-23 22:08] iancrowther commented on #44
@web-bert are you still in a position to do this or should is pass to @simonmcmanus?

[2015-10-23 22:09] iancrowther commented on #41
@johnnybridges can you take a look at this?

[2015-10-23 22:12] iancrowther commented on #40
#41 dupliacte

[2015-10-23 22:13] iancrowther commented on #34
@simonmcmanus bump

[2015-10-23 22:13] iancrowther commented on #33
@maxwellito bump

[2015-10-23 22:14] iancrowther commented on #31
will add us

[2015-10-23 22:18] iancrowther commented on #29
@simonmcmanus can you do this.. a simple version

[2015-10-23 22:19] iancrowther opened #73 "Update website with next month immediately after the event"

[2015-10-23 22:20] iancrowther commented on #73
add this as a gcal reminder?

this date will be known so does not need to be dependant on speaker roster

[2015-10-23 22:21] iancrowther commented on #28
@julienbrunuk will you organise this? :-)

[2015-10-23 22:23] #16 closed

[2015-10-23 22:23] iancrowther commented on #15
@lnug/organisers does anyone want to try and run with this?

[2015-10-23 22:25] #17 closed

[2015-10-23 22:27] iancrowther commented on #20
I have found someone who will do socks for us.  They will be arounf £15 per pair.

I can take orders

[2015-10-23 22:27] iancrowther commented on #20
T-Shirts have been made

[2015-10-23 22:27] iancrowther commented on #20
@alanshaw - how can people buy t's if they miss out on free

[2015-10-23 22:28] iancrowther commented on #13
closed as inactive

[2015-10-23 22:28] #13 closed

[2015-10-23 22:30] #27 closed

[2015-10-23 23:14] iancrowther opened #74 "Node Jamboree"
Can we extend the current site to add jamboree details

[2015-10-24 07:58] simonmcmanus commented on #73
This should be fine if we have the speakers sorted in GitHub. We might need to tweak the labelling slightly.

Wil have a think.

Sent from my iPhone

[2015-10-24 12:09] maxwellito commented on #33
Are you talking about this page? https://ti.to/lnug

[2015-10-24 12:19] maxwellito commented on #51
I created something to make transparent black logos with white background pictures : http://maxwellito.github.io/ghoster/

Otherwise tell me which one to transform :) (with resolutions, shall we store them into a repo for common shared assets across LNUG?)

[2015-10-24 12:23] maxwellito commented on #52
Can you share the email addresses please?
I'll set the LNUG logo to Gravatar

[2015-10-24 18:25] jkbits1 commented on #73
My general thinking behing this is that I often mention lnug to people who might used node or are interested but haven't heard of lnug. Then I have to explain, no, it's not on meetup so I mention the site. A lot of those people attend, but maybe some of them see the site, but as the next month's date isn't on there, don't know when to attend or if there are any talks on. And maybe not putting the

[2015-10-24 22:43] iancrowther commented on #33
yep.

I want get a unified brand.  inc the slides, website, services such as twitter, ti.to etc

[2015-10-24 22:44] iancrowther commented on #51
@maxwellito - just wow!

[2015-10-24 22:45] iancrowther commented on #52
contact@lnug.org is the one we use for everything

[2015-10-24 22:46] iancrowther commented on #52
I think I set it up, just needs the graphic

[2015-10-25 12:01] maxwellito commented on #51
It's simple but very handy :)
If you want any idea of improvement, please open a issue.

[2015-10-25 12:43] maxwellito commented on #52
![avatar_600](https://cloud.githubusercontent.com/assets/1097232/10715650/ded6814c-7b15-11e5-8ea7-be2866908a3f.png)
Here is the LNUG avatar in 600px.
I made an Ai file if required. Might be useful for future usage. If you want it in a repo somewhere, tell me and I'll make a PR

[2015-10-25 12:44] maxwellito commented on #33
Ok, do we have something to start with (existing slides, color scheme...)?
Otherwise I can start to make a repo with everything

[2015-10-25 20:48] iancrowther commented on #51
will do

[2015-10-25 20:52] iancrowther commented on #52
amaze - please create an assets directory https://github.com/lnug/feedback so that these assets are easy for people to find and not lost in the website repo

[2015-10-25 20:55] iancrowther commented on #52
gravatar is alive :-)

thanks @maxwellito

[2015-10-25 20:55] #52 closed

[2015-10-25 21:02] iancrowther commented on #33
slides can be found here https://swipe.to/2657cp

When I arrive, I put up a welcome slide with basic info.  I would love to have the logo animated in some way.

[2015-10-25 21:04] iancrowther commented on #33
Other branding would come from the website.

There are no brand guidelines yet so there is no brand consistancy accross services.  This guide would be a great starting point to work from.

The gravatar etc with help.

[2015-10-26 09:35] mikeljames commented on #58
Hey @iancrowther I've been having a play with hook.io after I had a chat with @clarkie on gitter. So going to go with hook.io for now. Been on holiday and started a new job so been pretty busy! :D

[2015-10-26 09:43] iancrowther commented on #58
np - can you assign yourself to this any own the issue :-)

[2015-10-26 22:29] mikeljames commented on #58
@iancrowther it appears I do not have permissions to do that :S

[2015-10-26 22:34] iancrowther commented on #58
oh right! ive added you as a contributor..

how can i make these issues public? any ideas?

[2015-10-26 22:34] iancrowther commented on #58
that might explain why no-one is picking up issues!

[2015-10-27 09:33] oluoluoxenfree commented on #28
Be willing to help :)

[2015-10-27 11:06] iancrowther commented on #28
w00t

[2015-11-07 11:37] iancrowther commented on #73
agreed

[2015-11-08 10:06] simonmcmanus commented on #73
Ive tweaked the update script slightly so that it looks over all the available github milestones, figures out which one is next and uses that.

Hopefully that should make it easier to update the site more frequently.

The changes are hidden in this PR:

https://github.com/lnug/lnug.github.io/pull/37

At the moment there needs to be at least one talk against a milestone for it to work out the next

[2015-11-08 19:29] jkbits1 commented on #73
Great PR, much more resilient to imperfect data.

The idea of my PR, https://github.com/lnug/lnug.github.io/pull/38, made obsolete by yours, was just to change the auto-generated index.html itself. I just changed next event date, tito link and changed talks to October's talks. The idea being it puts no pressure on us to have either the talks or the relevant issues in place when we want to do it.

[2015-11-12 09:45] iancrowther opened #75 "show a schedule of upcoming events"

[2015-11-12 09:45] iancrowther commented on #75
@simonmcmanus @maxwellito this came in as feedback from NottsJS but is relevant here

[2015-11-13 09:20] simonmcmanus commented on #75
We could pull in all the milestones setup in github I guess, that would give a list of the next few events.

Would need to think about where in the UI it sits.  Not gonna look at this till after the redesign is out.

[2015-11-15 21:27] iancrowther commented on #75
fair enough

[2015-11-18 00:08] admataz opened #76 "Your newsletter - LNUG monthly newsgathering"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

- Keep it node.js related (releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects,.)
- Keep it London related. (SF is cool y'all but we are here.)
- Keep it community related. (That's about you and the people around you usi

[2015-11-18 06:28] simonmcmanus commented on #76
EnhanceConfs call for proposals is open. I mentioned it last month but don't think it's been in the news letter.

We are looking for good stories around progressive enhancement. Particularly interested to hear how people are using node to extend the reach of there apps.

More details can be found at.

http://enhanceconf.com/cfp

Thanks

Sent from my iPhone

[2015-11-18 09:24] iancrowther opened #77 "Event Loop Video"
We have been asked to update this video.  IF we dont have time, we should remove it.

https://www.youtube.com/watch?v=2xTakP0xKQw&google_comment_id=z12telxr3pqfyprnq23gxrcirxyfetun1&google_view_type#gpluscomments

[2015-11-18 11:13] admataz commented on #76
Thanks @simonmcmanus  - have added it to the community news section

[2015-11-19 17:47] iancrowther commented on #51
ok feature request.  I would like to specify dimentions and generate a horizontally and vertically aligned tile

[2015-11-20 15:59] iancrowther opened #78 "Metalsmith"
Are we moving to this? whats the ETA of the redesign so we can start next steps

[2015-11-20 16:00] iancrowther opened #79 "related meetups page"
Are we in a position to mege this?

[2015-11-20 16:01] iancrowther opened #80 "vimeo"
we should link to the vimeo links in the archive

[2015-11-20 16:02] iancrowther opened #81 "Enable attendees to purchase LNUG swag"
- add lnug sticker to hexbin
- add t-shirt varient to teespring

[2015-11-20 16:02] iancrowther commented on #81
make the ones we give out a little different tho!

[2015-11-20 16:04] iancrowther opened #82 "embed youtube into LNUG site?"
We need to update the archive page to show historic videos

[2015-11-20 16:11] iancrowther opened #83 "Help improve the slide skin"
@maxwellito can you help me put together a slide template using the new logo?

[2015-11-23 09:21] simonmcmanus commented on #78
no plans to use Metalsmith.

I think @maxwellito and I are now happy with the design.

My next step is to wire it all up properly.

I will try to get it wired up and ready for PR asap.  Not likely before the weekend.

[2015-11-23 09:23] simonmcmanus commented on #79
@iancrowther - The new design pulls in the related meetup page so will come in as part of that.

[2015-11-23 09:23] #78 closed

[2015-11-23 09:30] #73 closed

[2015-11-23 15:21] iancrowther commented on #51
just used this tool again!! super handy

[2015-11-23 15:51] iancrowther opened #84 "Design LNUG Sticker for 2016"
is everyone happy with the sticker?

https://github.com/lnug/lnug.github.io/tree/master/assets/stickers

![image](https://cloud.githubusercontent.com/assets/76060/11341331/fae8aacc-91f9-11e5-8049-003881a395d3.png)

we have some alternative suggestions

![image](https://cloud.githubusercontent.com/assets/76060/11341348/1217ac0c-91fa-11e5-970a-b1b7ca8eddd3.png)

[2015-11-23 17:06] iancrowther commented on #79
:-)

[2015-11-23 17:06] #79 closed

[2015-11-23 17:06] iancrowther commented on #78
McSweet

[2015-11-23 17:11] iancrowther opened #85 "URGENT - newsletter patch"
We missed some sponsors

- YLD - Wrong Logo
- Nexttick - Missing, Again
- Braintree - Missing

[2015-11-23 17:13] iancrowther commented on #85
@admataz can this get sorted as a priority?

[2015-11-23 17:40] admataz commented on #85
ok - thanks @iancrowther  - I think we need a better way of communicating and confirming a month's sponsors - and also getting confirmation on proofread on the newsletter has all the required and accurate content before being sent - because once they're gone....  there's no getting them back from peoples' inboxes.

I always send a test mailer to the group before sending the mail to get some eyes o

[2015-11-23 20:52] maxwellito commented on #84
Looks gorgeous!! <3

[2015-11-23 22:19] iancrowther commented on #84
Yes yes, I'm sure it was you who brought it up 😉

[2015-11-23 23:40] jkbits1 commented on #85
@admataz I agree with the principles underlying your comments :+1:

[2015-11-23 23:49] iancrowther commented on #85
@admataz - am in agreement, will follow your lead here..

[2015-11-23 23:52] jkbits1 opened #86 "ti.to sponsors look untidy"
Also, the sponsorship tiers (gold, silver etc) don't stand out visually enough so the meaning isn't clear

[2015-11-23 23:56] iancrowther commented on #86
I have an PR for transparent images

https://github.com/lnug/lnug.github.io/pull/60

this will fix the "untidy"

[2015-11-23 23:57] iancrowther commented on #86
can you test & merge @jkbits1

[2015-11-23 23:57] iancrowther commented on #86
Agreed with the visuals, what do you suggest?

[2015-11-24 02:48] jkbits1 commented on #86
@iancrowther - merge done and transparents included on tito.

Within the constraints of markdown and the css theme provided (which as I understand it, means we can't tweak the css as usual), I've made an attempt to give a clearer repeating pattern or rhythm to the sponsor divisions. I've made small adjustments to some logo sizes, so the proportions work better.

As the consensus seems to be for tr

[2015-11-24 08:11] simonmcmanus commented on #85
@admataz the above all sounds very sensible.

For the site redesign Im going to need a json file/object which lists the sponsors for a given month, something like:

https://gist.github.com/simonmcmanus/227bc2904b578017d5a7

How about we add a sponsors.json file into this repo:

https://github.com/lnug/resources/

@iancrowther could maintain that list and we can all consume it.

would that help @ad

[2015-11-24 11:21] iancrowther commented on #86
"I've made an attempt to give a clearer repeating pattern or rhythm to the sponsor divisions" - cool

[2015-11-24 11:22] iancrowther commented on #86
"I've made small adjustments to some logo sizes, so the proportions work better." - This concerns me a little, did you edit the physical asset or use css?

We really should be using the same asset everywhere for consistancy and maintainability

[2015-11-24 11:24] iancrowther commented on #86
"I'm not totally convinced given the tito bkg colour myself but can see the reasoning for it" - im in agreement, but its about a single asset

[2015-11-24 11:48] iancrowther commented on #86
@jkbits1 see https://github.com/lnug/lnug.github.io/pull/62 for the missing images

[2015-11-24 11:52] iancrowther commented on #85
works for me.

@simonmcmanus - do you have a particular structure in mind?

[2015-11-24 16:05] iancrowther opened #87 "sponsor logos"
@maxwellito - stack have a new logo and have requested us to use.

![stackoverflow logo new 1](https://cloud.githubusercontent.com/assets/76060/11372390/1c47733a-92c5-11e5-86e9-253a48fea144.jpg)

can you sort this whilst fixing my errors.

[2015-11-24 17:40] admataz commented on #85
as discussed with @iancrowther  - will send out a post -event email with all the sponsors included.

[2015-11-24 17:43] admataz commented on #85
moving the above related conversation to https://github.com/lnug/planning/issues/79

[2015-11-24 18:47] jkbits1 commented on #86
size adjustments made through styling

revised images are applied automatically, no edit needed

[2015-11-24 18:48] #86 closed

[2015-11-24 23:03] #85 closed

[2015-11-25 14:23] iancrowther commented on #87
resolved

[2015-11-25 14:23] #87 closed

[2015-11-25 14:24] iancrowther commented on #84
@lnug/organisers bump?

[2015-11-25 14:26] iancrowther commented on #83
slides are now in resources/slides

https://github.com/lnug/resources/tree/master/slides

they are build using node, rendered using webkit so we can got to town here

[2015-11-25 14:29] iancrowther commented on #82
semi-duplicate of https://github.com/lnug/feedback/issues/80

[2015-11-25 14:29] #80 closed

[2015-11-25 14:29] iancrowther commented on #77
@alanshaw - fancy it?

[2015-11-25 14:30] iancrowther commented on #74
Need help to organise this moving forward

[2015-11-25 14:31] iancrowther commented on #44
resolved in redesign

[2015-11-25 14:32] #51 closed

[2015-11-25 14:32] iancrowther commented on #55
im closing this as its a ti.to product feature, not an lnug fix

[2015-11-25 14:32] #55 closed

[2015-11-25 14:34] iancrowther commented on #58
hey @mikeljames - hows this progressing?

[2015-11-25 14:34] #34 closed

[2015-11-25 14:35] iancrowther commented on #29
resolved in redesign

[2015-11-25 14:35] #29 closed

[2015-11-25 14:36] iancrowther commented on #36
https://github.com/lnug/feedback/issues/33

[2015-11-25 14:36] #33 closed

[2015-11-25 14:36] iancrowther commented on #36
https://github.com/lnug/feedback/issues/24

[2015-11-25 14:37] #24 closed

[2015-11-25 14:39] alanshaw commented on #77
I think there are better resources for this - https://www.youtube.com/watch?v=8aGhZQkoFbQ

[2015-11-25 14:45] iancrowther commented on #77
agreed - i'll delete the crazy vid then

[2015-11-25 14:49] #77 closed

[2015-11-25 19:04] mikeljames commented on #58
@iancrowther it's a WIP =)

[2015-11-25 19:12] mikeljames commented on #58
@iancrowther it's a WIP I should have some more time very soon =)

[2015-11-25 22:18] zsid opened #88 "Suggestions"
I really enjoyed the lnug meetup tonight. Well done guys!

A few things to note:

As someone who wants to learn Node (I came with a few friends who were also beginners), it will be great if there were a few suggestions where someone could start from scratch learning Node and become a master. I know you talked about Nodeschool but it might be good to point out a few tutorials in there. For example:

[2015-11-26 10:36] julienbrunuk commented on #28
There *will* be a christmas party. Details will be provided very, very shortly.

[2015-11-26 10:36] #28 closed

[2015-11-26 14:23] iancrowther commented on #88
Thanks for your feedback, it really helps.

"it will be great if there were a few suggestions where someone could start from scratch learning Node and become a master" - would a section / page on the website be enough? then we can point to that resource?

[2015-11-26 14:25] iancrowther commented on #88
"Maybe the speakers can briefly talk about how they have levelled up" - im reluctant to interfere with a talk.

[2015-11-26 14:26] iancrowther commented on #88
"might be better to focus on a very specific example and do a quick demo and kinda walkthrough" - This kind of talk would be very welcome.

Would you fancy doing one?  It does not have to be super advanced, afterall your target audience is beginner.

[2015-11-26 14:27] iancrowther commented on #28
@oluoluoxenfree ask @julienbrunuk if he needs any help? he is taking the lead on this

[2015-11-26 15:13] zsid commented on #88
Hi Ian,

Thanks for the prompt response.

------
 "it will be great if there were a few suggestions where someone could start from scratch learning Node    and become a master" - would a section / page on the website be enough? then we can point to that resource?

A section/page will be more than enough. Sounds great.
------

"might be better to focus on a very specific example and do a quick demo

[2015-11-26 16:05] iancrowther commented on #88
"A section/page, pointing to the specific resource will be more than enough. Thank you." - ok raise this as a seperate issue and one of the team will pick it up.

[2015-11-26 16:07] iancrowther commented on #88
github.com/lnug/speakers - drop us a proposal here, then we can see if its better suited to feb or march

I for one will be happy to get an entry level talk onthe roster

[2015-11-27 16:25] iancrowther opened #89 "add sidecar from gitter"
https://sidecar.gitter.im/

[2015-11-29 19:18] zsid commented on #88
Hi Ian,

Thank you, I will create a new issue with regards to the material. I have also submit a proposal to the speakers section.

Thanks,
Zhivko

[2015-11-29 19:23] zsid opened #90 "Beginner/intermidiate/Advanced material"
Hello,

Following Ian's recommendations to post this as a separate issue, could you please add a section or page which refers to different resources (Beginner/Intermediate/Advanced levels).

Thank you
Zhivko

[2015-12-07 17:10] iancrowther commented on #90
I have started a resources md file which we can render onthe website

PR's Welcome

https://github.com/lnug/resources/pull/10

[2015-12-07 17:10] #90 closed

[2015-12-08 10:17] zsid commented on #90
Great, thanks Ian. I will spread the word :smile:

[2015-12-09 20:54] simonmcmanus commented on #67
very. thanks @maxwellito for the help with the redesign.

[2015-12-09 20:54] #67 closed

[2015-12-09 20:59] iancrowther commented on #89
https://github.com/lnug/lnug.github.io/issues/77

[2015-12-09 20:59] #89 closed

[2015-12-09 21:09] iancrowther commented on #84
@maxwellito - can you do a variation of the sticker for 2016

[2015-12-09 21:12] #82 closed

[2015-12-09 21:20] iancrowther commented on #74
postponed!

[2015-12-09 21:20] #74 closed

[2015-12-09 21:23] #72 closed

[2015-12-09 21:27] iancrowther commented on #54
https://github.com/lnug/lnug.github.io/issues/79

[2015-12-09 21:27] #54 closed

[2015-12-09 21:32] #70 closed

[2015-12-09 21:34] iancrowther commented on #75
https://github.com/lnug/lnug.github.io/issues/84

[2015-12-09 21:34] #75 closed

[2015-12-09 21:34] simonmcmanus commented on #68
@olizilla - its now nice and big on lnug.org, are you happy to close?

[2015-12-09 21:35] iancrowther commented on #64
@jkbits1 - how this going?

[2015-12-09 21:38] #44 closed

[2015-12-09 21:41] iancrowther commented on #58
@mikeljames - visit https://github.com/lnug and accept your invite

then you can assign yourself this issue

[2015-12-09 21:43] iancrowther opened #91 "automatically add attendees & speakers as contributors"
You cant assign yourself an issue unless your a contributor!

It would help to automagically add folks to this team

[2015-12-09 21:45] #20 closed

[2015-12-09 21:46] iancrowther commented on #18
closed in favor of an enterprise event

[2015-12-09 21:46] #18 closed

[2015-12-09 21:47] iancrowther commented on #8
It would be awesome for this to become a hackday-guide.md.  that way we can render it as a seperate page

[2015-12-09 21:49] iancrowther commented on #11
We dont have a venue atm!!

[2015-12-09 21:49] #65 closed

[2015-12-09 21:50] iancrowther commented on #10
https://github.com/lnug/feedback/issues/59

[2015-12-09 21:50] #59 closed

[2015-12-09 21:51] iancrowther commented on #15
curation is nice but a massive overhead - does anyone want to help me?

[2015-12-09 21:53] mikeljames commented on #58
Hey @iancrowther I'm still unable to assign myself... Permissions related?
![image](https://cloud.githubusercontent.com/assets/2983327/11700024/41376f32-9ebf-11e5-93f7-cbe6b871370f.png)

[2015-12-09 21:54] #15 closed

[2015-12-09 21:55] iancrowther opened #92 "Help us curate speakers"
As part of the event planning, we could do with some help planning speakers and inviting guests

[2015-12-09 21:56] iancrowther commented on #76
@admataz is there a way to submit links

[2015-12-09 21:56] #88 closed

[2015-12-09 21:57] iancrowther commented on #47
community feedback has been to just have one source of info

[2015-12-09 21:57] #47 closed

[2015-12-09 21:57] #71 closed

[2015-12-09 21:57] #50 closed

[2015-12-09 21:58] iancrowther commented on #91
https://github.com/lnug/feedback/issues/42

[2015-12-09 21:58] #42 closed

[2015-12-09 22:01] #41 closed

[2015-12-09 22:02] #31 closed

[2015-12-09 22:08] iancrowther commented on #58
@mikeljames have you joined the collaborators team?

[2015-12-09 22:10] iancrowther commented on #58
@mikeljames - yep! try now

[2015-12-10 00:24] admataz commented on #76
@iancrowther what do you mean?
 I said

by which i mean add a comment to this issue.

[2015-12-10 09:32] oluoluoxenfree commented on #15
Possibly after this week, I'm surprised how much interest people have in giving feedback

[2015-12-10 14:21] iancrowther commented on #15
@oluoluoxenfree - can you assign yourself and start putting together a plan

[2015-12-10 14:22] iancrowther commented on #92
@oluoluoxenfree - please can you assign yourself and share the P-L-A-N :-)

[2015-12-10 14:23] iancrowther commented on #76
@admataz - so you did ;-)

[2015-12-11 00:40] maxwellito commented on #83
I didn't managed to install `deck`. The install keep failing :-S You don't have something else to allow me to see and edit the slides?

[2015-12-11 01:16] iancrowther commented on #83
@davidmarkclements can you pitch in here, being the author of zee deck?

[2015-12-11 10:03] iancrowther commented on #83
see https://github.com/nearform/deck

[2015-12-11 12:29] davidmarkclements commented on #83
hey @maxwellito can you tell me a bit about your setup

1) OS
2) node version

can you also show me the install fail logs

[2015-12-11 20:48] maxwellito commented on #83
It's a silly issue of permission while installing `electron-prebuilt`. It cannot rename the folder... I'll see how to sort this out later.

PS: I ran this with sudo rights

[2015-12-11 20:50] iancrowther commented on #83
pro tip - "the base style is flexbox"

@davidmarkclements any tips or gotchas we need to know about?

[2015-12-11 21:54] iancrowther opened #93 "How to find LNUG Recordings"
Hey,

If you search google videos for LNUG talks you only get one result :-(

How can we improve this?

[2015-12-14 09:59] olizilla commented on #68
Super nice! :+1:
<img width="808" alt="screenshot 2015-12-14 09 58 58" src="https://cloud.githubusercontent.com/assets/58871/11777966/5fa65964-a249-11e5-83b9-635e91311873.png">

[2015-12-14 09:59] #68 closed

[2015-12-16 14:26] iancrowther commented on #76
@admataz you should get some newsletter input from https://github.com/node-girls

[2015-12-16 15:42] iancrowther commented on #76
https://strongloop.com/strongblog/hot-topics-from-node-interactive-2015/?utm_source=StrongLoop+Newsletter&utm_campaign=cdea1b0c8c-December_2015_Newsletter_2015&utm_medium=email&utm_term=0_5cdaff72d5-cdea1b0c8c-141049357

[2015-12-18 21:44] oluoluoxenfree commented on #92
Sure, sorry for the slow response!

[2015-12-19 00:15] iteles commented on #92
@oluoluoxenfree You're _everywhere_ :wink:

[2015-12-20 21:52] iancrowther opened #94 "TinyLetter"
@admataz have you seen this?

tinyletter.com

[2015-12-20 23:15] iancrowther commented on #76
MonkiGras Tkts

We are running MonkiGras again on Jan 28th & 29th 2016 and would like to give a 15% discount to LNUG.  Discount is (unsurprisingly) LNUG

Our theme this year is "Homebrew: Turning Side Projects into Communities, Products and Companies." More details are on http://monkigras.com

The tickets are currently priced at £140, and the price will be increase just after Christmas.

[2015-12-21 08:52] julienbrunuk commented on #93
SEO ⚓ ! SEO ⚓ ! SEO ⚓ We have a lot of links on the archive pages, instead we could split it to have a detailed archive page for each monthly meetup. We could also feature the archive page of the previous month on the homepage. Any thoughts? (cc @maxwellito @simonmcmanus

[2015-12-21 10:11] iancrowther commented on #93
so for now, the archive page is new.  lets leave it 3 months to test if its working.

can someone check the uptake in google analytics (details in secrets.md)

I was wondering if there was someway to load the videos with keywords?

[2015-12-21 10:12] iancrowther commented on #93
@julienbrunuk can you own this? post some results, do some keyword magic?

[2015-12-23 19:19] oluoluoxenfree commented on #92
@iteles I do try!

Going to base it off of this: https://github.com/charmCityJs/talks/wiki/Curating-Talks

[2015-12-23 19:22] oluoluoxenfree commented on #92
Add just a glob of thoughts before I forget:

* Nominations for people to contact (talks you've seen, or people you know who could give a talk on x) appreciated, in these cases public contact details (i.e. Twitter) or a personal introduction would be best.

* Would be best to either switch up curators or have a few people interested in it to keep numbers up.

* Would be good to have a document or

[2015-12-29 09:48] iancrowther commented on #92
"Nominations" - i love this idea, do you see this being don provately or publically?  How would this work?
do we want to create/use a crm?

"curators" - your on this :-) you'll have to keep askign folks to get involved I suspect

"document or pack for nominated speakers' - we can update the speakers [README.MD](https://github.com/lnug/speakers/blob/master/README.md) what do you think? does it need

[2015-12-30 14:39] simonmcmanus commented on #76
EnhanceConf tickets are on sale now. EnhanceConf will be looking at the tools, techniques which extend the reach of your web presence without adding to the cost:

enhanceconf.com

The conference takes place on Friday 4th March. Aaron Gustafson will be running a full day workshop on the Thursday 3rd March.

Conference passes currently priced at £155 + VAT and a combined workshop pass is £399.

When

[2015-12-30 15:22] iancrowther commented on #76
new nodeschool - https://ti.to/nodeschool-london/january-2016

[2015-12-30 15:23] iancrowther commented on #76
@admataz - is this helping?

[2016-01-01 21:49] admataz commented on #76
yes, @iancrowther  - thanks - keep them coming...
I'm back in office properly from Monday and will get a draft for January together early as possible

[2016-01-01 22:26] admataz commented on #92
+1 on all the above  - I think it's a great approach.

Related, maybe - I know it's been hinted at before in a couple discussions about potential IoT and Enterprise focused meetups - would it be good to think also about occasional special topic meetups - which may also be a reflection of a curator's expertise  - so an evening of talks on DB's, or Front End, or Hardware, or whatever - where all 3 t

[2016-01-02 01:57] iancrowther commented on #92
agreed - this needs ownership though

[2016-01-02 10:44] oluoluoxenfree commented on #92
I'll do this later today, and yes I don't mind taking ownership, but I migh thave to take suggestions for topics at the moment re: specialisations!

[2016-01-02 12:42] iancrowther commented on #92
Performance
Testing
Beginners
IOT
Realtime
Etc

[2016-01-02 22:27] iancrowther commented on #76
cool - would love to get a draft out asap

[2016-01-05 15:38] FinnCavanagh opened #95 "Confirmation Email"
Hey guys,

I'm excited to come along to my first meetup on 27th. I'm coming to coding from marketing and just thought I would suggest adding a link to the event in the confirmation email, so it's really easy to share with others. The easier you make it to share etc ...

Finn

[2016-01-05 22:34] iancrowther commented on #84
@simonmcmanus @maxwellito we seem to have lost the sticker assets?

[2016-01-06 09:46] admataz commented on #95
Hi Finn - thanks for the feedback

@jkbits1  - I think you are the person for the Ti.to confirmation emails?

[2016-01-06 15:58] iancrowther commented on #95
hey @FinnCavanagh

thanks for the feedback

[2016-01-07 13:47] admataz commented on #76
@lnug/organisers  I have a draft of the newsletter ready - just waiting for a comminity news item to be added. Preview here: http://us8.campaign-archive2.com/?u=9ebd291b0179eceff6533b0da&id=a9bf424821&e=[UNIQID]

@iancrowther - please can you check/confirm the sponsors for this month?

I presume I should be replacing Stack Overflow with Makers Academy. Any other changes?

[2016-01-07 14:47] achingbrain commented on #76
@admataz Thanks for including NodeBots in the mail out - could you please update the text to say:

[2016-01-07 15:00] admataz commented on #76
@achingbrain  - cool, that's updated.

[2016-01-08 02:31] iteles commented on #76
@admataz A short paragraph on NodeGirls if you can still add it, sorry for the delay!

After a successful launch in late 2015, NodeGirls are back and running another workshop on 27th February! Keep an eye out [on Twitter](http://www.twitter.com/nodegirls_LDN) for updates.

We're also looking for more female to [join our merry band](https://twitter.com/msmichellegar/status/664897963127398400) so ge

[2016-01-08 12:11] iancrowther commented on #76
newsletter will go out on Monday your in time :-)

[2016-01-08 12:38] admataz commented on #76
Thanks @iteles  - I've added your text to the community section - the newsletter can be previewed here: http://us8.campaign-archive2.com/?u=9ebd291b0179eceff6533b0da&id=a9bf424821&e=[UNIQID]

[2016-01-10 22:35] iteles commented on #76
@admataz Argh, sorry, that should have said 'more female **mentors**', not sure what happened there!

[2016-01-11 10:10] admataz commented on #76
@iteles  - thanks! fixed.

[2016-01-12 13:06] iancrowther commented on #76
@admataz you should close this now and open the Feb newsletter issue

I must also add that the newsletter is really looking great.  a huge improvement so thanks you

[2016-01-12 13:19] admataz opened #96 "Newsletter February 2016 - newsgathering"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.
- Keep it node.js related (releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects,.)
- Keep it London related. (SF is cool y'all but we are here.)
- Keep it community related. (That's about you and the people around you usin

[2016-01-12 13:20] admataz commented on #76
Thanks!
Next month's newsletter newsgathering happening at #96

[2016-01-12 13:20] #76 closed

[2016-01-12 13:23] admataz commented on #94
I looked at it  - it seems good for personal newsletters and more narrative blog style newsletters - not for us I think, unless we get more into original content.

[2016-01-12 13:23] #94 closed

[2016-01-18 21:17] oluoluoxenfree commented on #92
A CRM would be great, I think privately makes more sense as people would probably feel a bit hounded if it was public, but any other thoughts?

I'm fine curating + taking a more active role, sorry for the slowness!

[2016-01-18 21:19] oluoluoxenfree commented on #92
I think the README needs more resources and explicitly stating it's fine for beginners to try.

Could you include something about recommending speakers in one of the newsletters? Or regularly maybe?

[2016-01-19 14:13] admataz commented on #92
Hi Olu  - yes - good idea, I'd be happy to add something in the newsletter, as a fixture that explains the approach - there's an issue for newsgathering: #96  - if you can add some description there.

Do we need a full blown CRM? Or can we handle it as a private repos/ issue list in github? (I'm in favour of not spreading across too many platforms if we can help it). If we want to keep nominations

[2016-01-19 14:19] clarkie commented on #92
@admataz and @oluoluoxenfree we talked about a 'buddy' system at our meeting the other day for speakers (if they want it). This would hopefully help encourage first time speakers as we can buddy them up with someone who may have spoken on a similar subject to help with putting together their presentation, etc.

[2016-01-19 14:27] admataz commented on #92
@clarkie yes - let's write up an approach that will encourage new speakers that and we can communicate in the newsletter, add to the readme, and maybe announce at the next meetup - the underlying principle being: here are some ways we would like to support speakers.  I'll create an issue in the planning repos

[2016-01-19 14:54] iteles commented on #92
This (somewhat abandoned) site is also a good link for beginner speakers: http://weareallaweso.me/

[2016-01-27 02:46] jkbits1 commented on #95
@FinnCavanagh great idea, done. Thanks very much for the suggestion :+1:  we look forward to seeing you at the event.

We'd be very glad to hear more suggestions from you

[2016-01-27 12:10] #95 closed

[2016-01-28 00:12] overlookmotel opened #97 "Suggestions for talks"
Hi all.

Attended LNUG for the first time tonight (in fact first time I've attended any code-related meet-up). Had a great time - interesting talks, interesting people and a friendly atmosphere. And, yeah, free pizza... Thanks very much for organising.

You were soliciting the involvement of newbies, so... here I am...

I don't know how much use this is, but as a relative newbie to node, there's a

[2016-01-28 11:27] iancrowther commented on #97
This is great feedback, ty.

I'm glad you had a good time 😀

We'll be sure to add it into the mix at the next meeting

[2016-01-30 23:23] iteles commented on #96
Thanks @admataz and @iancrowther for including us in your newsletter!

Node Girls are running another free 1 day node.js workshop on 27th February at Stack Overflow. :tada:
This time you'll be building your very own CMS in node. You'll need to know some javascript already - if you're not sure whether you know enough, [tweet us](https://twitter.com/nodegirls_ldn)!  [Apply for your spot here](https:

[2016-01-31 19:22] iteles commented on #96
@lnugbot On building a CMS in node or on why we have a women-only meetup? :wink:

[2016-01-31 20:10] iteles commented on #96
@lnugbot :+1: We'll definitely do one after the workshop! In the meantime, all our learning materials are open source, so I'll point you to those when they're ready :+1:

[2016-02-08 21:56] iteles commented on #96
@admataz Updated the description above, we're going to run one more 'Introduction to Node' workshop before we move into CMS territory :blush:

[2016-02-09 14:26] iancrowther commented on #96
@admataz this is a pretty big deal - https://coreos.com/rkt/docs/latest/

[2016-02-13 09:25] bencevans commented on #93
Loads of videos are popping up on the results now including a bunch from 2015 on the first page! https://www.google.com/search?q=LNUG&tbm=vid

This can probably be closed now :+1:

[2016-02-13 09:45] bencevans commented on #22
Prob best not use an automated feed so videos can be checked before published on LNUG feeds. We could maintain the archive in some sort of computer readable format...  JSON might be a bit eww if edited by hand, YAML idea...

## Proposed Repo: lnug/archive

### [year]-[month]-[day].yml

[code]

[2016-02-14 12:57] #93 closed

[2016-02-15 10:56] admataz commented on #96
Hi @iancrowther  - anything in particular you want to add about this project for the newsletter?

[2016-02-15 11:13] achingbrain commented on #96
@admataz Could you please add this to the newsletter?

[2016-02-15 12:17] admataz opened #98 "Newsletter March 2016 - newsgathering"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

Keep it node.js related (releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects,.)
Keep it London related. (SF is cool y'all but we are here.)
Keep it community related. (That's about you and the people around you using nod

[2016-02-15 12:26] admataz commented on #58
hi guys. Just wondering  - has anyone had a chance to look into any of the interesting ideas discussed earlier in the thread?

[2016-02-15 12:40] export-mike commented on #58
Yeah been playing with hook.io over the weekend.

[2016-02-15 17:48] iancrowther commented on #96
@admataz - should we close this?

[2016-02-15 17:51] iancrowther commented on #22
@bencevans I think it's fair to assume the videos are ready before being published as they are made "live".  Also, it's ok to tweak later.

I prefer to automate so this does not become yet another thing to maintain.  were already pretty overloaded

[2016-02-16 11:55] admataz commented on #96
@iancrowther  - I'll close when I've sent (later today)

[2016-02-16 13:03] admataz commented on #96
before I send - there's a preview available here if anyone wants to check it.

http://us8.campaign-archive1.com/?u=9ebd291b0179eceff6533b0da&id=b59769fae7&e=[UNIQID]

[2016-02-16 13:57] bencevans commented on #22
Ah so tweet anything uploaded to this channel? https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ

Looks like YouTube might be able to do it... http://www.guidingtech.com/2730/share-youtube-videos-facebook-twitter-google-reader/

[2016-02-16 14:17] bencevans commented on #45
What dimensions (preferred width/preferred height) for outputs?

    $ convert -resize [width] logo.png logo-[width].png

* width - in pixels - scales height to keep aspect ratio

[2016-02-16 16:00] iancrowther commented on #22
ah sweet - ok ill set that up

[2016-02-16 16:01] jkbits1 commented on #96
looks great

[2016-02-16 16:05] iteles commented on #96
Hooray!

[2016-02-17 10:05] iancrowther commented on #45
@jkbits1 @simonmcmanus what are the preferences here?

@bencevans what dimentions already exist in the website & recources repo's

[2016-02-17 10:13] jkbits1 commented on #45
@iancrowther tito should be fine for anything similar to what we use now.

[2016-02-17 19:15] bencevans commented on #45
From https://github.com/lnug/lnug.github.io/tree/master/images/sponsors ... 252x252px & 198x198px with logo centered both horizontally and vertically on a white background with 10px margin within image

[2016-02-18 10:09] iancrowther commented on #45
sounds about right for now

[2016-02-18 13:09] iancrowther commented on #98
https://nodejs.org/en/blog/vulnerability/february-2016-security-releases/

[2016-02-26 01:01] rdquintas opened #99 "Some suggestions to celebrate the 50th LNUG session"
Hi guys,
here's some suggestions to make the 50th LNUG event, even more special.

Maybe some of them are a little bit far out.... but who knows ?
:smile:

- hire a DJ or band with some funky music
- extend the event (starting earlier and ending later)
- invite a "guest star". Someone that had a fundamental role on the birth of Node, to say a few words and talk about new directions
- make slides wi

[2016-03-01 21:18] iancrowther commented on #99
superb suggestions.. really superb.. noted

[2016-03-14 23:01] admataz opened #100 "Monthly Newsletter newsgathering"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

Anything it node.js related  - releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects...  only one thing -  keep it London, this is LNUG, not SF.

Oh, and it's not a jobs board, so don't even try.

[2016-03-15 14:41] iancrowther commented on #84
2016 sticker sorted

https://github.com/lnug/resources/blob/master/stickers/official/2016/official_hex.png

[2016-03-15 14:41] #84 closed

[2016-03-15 14:46] iancrowther commented on #99
- dj - no
- extend the event - that's the pub :-)
- guest - invited
- slides - in motion!
- video - no budget :-(
- cakes (maybe!)
- sticker (maybe!)
- special prize - suggestions?

[2016-03-15 14:50] rdquintas commented on #84
Love it.
I want one!!

[2016-03-15 14:57] rdquintas commented on #99
- a shiny new Apple MacBook Pro 15'' Retina i7-2,8GHz | 16GB | 1TB
- if not possible then a bottle of Veuve Clicquot Brut NV Champagne
- if not possible, how about something from Makersacademy
- if not possible, how about something from the other sponsors (training perhaps)

[2016-03-15 15:07] rdquintas commented on #99
How a about a "day with the pros" or something like that.
I mean, the sponsors could invite you to spend a day at their offices and during that day you would be involved on a particular project - and see how the pros work.
Live.
;o)

[2016-03-15 15:09] rdquintas commented on #99
Ask a designer to create a really crazy-special-funny-big-sticker for the occasion.
And then create a very limited edition, making it really exclusive and special.

[2016-03-15 16:17] rdquintas commented on #99
Or print the LNUG logo on a very crazy object
Check here
http://www.lps.promoideas.info/

or here
http://www.londonprintservice.com/products

[2016-03-17 23:31] iancrowther commented on #84
they wont be ready for this month.. they'll come about 2 days after!

[2016-03-17 23:32] iancrowther commented on #99
lol - awesome.. ill see what I can muster.. am a bit tied up atm though

[2016-03-24 13:34] iancrowther commented on #100
http://node.green/

[2016-04-18 11:21] iancrowther commented on #100
london.nodeconf.com

x2 free tickets to raffle and discount code "nodeconf-london-2016-lnug"

[2016-04-26 08:09] admataz opened #102 "Monthly Newsletter newsgathering - May 2016"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

Anything it node.js related - releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects... only one thing - keep it London, this is LNUG, not SF.

Oh, and it's not a jobs board, so don't even try.

[2016-04-28 07:38] simonmcmanus commented on #99
🍰

[2016-04-28 07:38] #99 closed

[2016-04-28 07:40] simonmcmanus commented on #36
@iancrowther @maxwellito @clarkie  - What is outstanding on this? Can it be closed?

[2016-04-28 07:41] simonmcmanus commented on #11
@iancrowther - can we close this now? or is it being kept open for a reason?

[2016-05-12 22:27] admataz commented on #102
@lnug/organisers no news this month?

[2016-05-13 08:40] alanshaw commented on #102
Node.js 6 was released
All the ES2015 - http://node.green/

[2016-05-21 11:25] #36 closed

[2016-05-23 11:27] #11 closed

[2016-05-24 07:34] clarkie opened #103 "Alternative to pizza?"
I'd like to make this clear, I have no problems with the quantity or quality of the pizzas at LNUG but it has come to my attention that our audience may want a bit of variety.

I'm just putting this out there for comments / suggestions.

The requirements are:
- it needs to be shareable
- 'finger food'
- buffet style
- with variety in the selection (e.g. veggie, meat, etc)

... discuss

[2016-05-24 07:52] adrianblynch commented on #103
You can't go wrong with sausages! They are both fingerable and shareable and come in both meat 🍖  and non-meat 🍆 versions.

Vote sausages!

[2016-05-24 08:12] #102 closed

[2016-05-24 08:12] admataz opened #104 "Monthly Newsletter newsgathering - September 2016"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

Anything it node.js related - releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects... only one thing - keep it London, this is LNUG, not SF.

Oh, and it's not a jobs board, so don't even try.

[2016-05-25 12:46] export-mike commented on #58
meetup.com have an api for this?

[2016-05-25 13:47] iancrowther commented on #58
not sure, what do the docs say?

[2016-06-22 19:58] FLamparski commented on #103
Clearly mini-burritos are the best option.

[2016-06-23 13:49] nofootnotes commented on #103
I think burritos are a really good alternative! Pod has been a hit at some of the women's meetups I've been to, though it does require plates/bowls/cutlery. Sushi has also been popular, though I guess that could be expensive.

If you stick with pizza, maybe you could get a couple of vegan ones too?

[2016-07-02 12:14] minaorangina commented on #103
This is a great issue!  I think burritos are a good option, and I second Pod too - had that at a couple of tech meetups (plus it's tasty)

[2016-09-14 08:58] admataz commented on #104
@lnug/organisers  - please add any news of events, projects, etc so I can add them to the September newsletter

[2016-09-14 13:44] achingbrain commented on #104
@admataz Could you please add this to the newsletter?

[2016-09-14 15:12] lazlojuly commented on #104
@admataz I have published a blog post on Node.js modules this month:
[Are Node.js modules singletons?](https://medium.com/@lazlojuly/are-node-js-modules-singletons-764ae97519af)

[2016-09-22 15:40] bookercodes opened #105 "LNUG Videos"
Hi,

I couldn't help but notice that the event hasn't been recorded lately (well, at least if I'm looking at the right [YouTube channel](https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ/videos)!). I work at @Pusher and we currently help a handful of London-based meetups record and transcribe their events by sending a professional videographer to them. [Here's an example recording from Fron

[2016-09-22 15:51] clarkie commented on #105
Hi Alex,

This sounds very interesting indeed! Ian has been a bit busy recently but feel free to email me andrew.t.clarke at gmail.com

[2016-09-22 15:53] alexbooker commented on #105
Will do, @clarkie. Thanks for your prompt response 😄!

[2016-09-22 16:07] alexbooker commented on #105
@clarkie OK, I sent you an email. I look forward to hearing from you!

[2016-09-22 17:16] jkbits1 commented on #105
Hi Alex, thanks for the offer, it would be great to be recording again

[2017-01-22 21:36] #10 closed

[2017-01-22 21:36] #22 closed

[2017-01-22 21:37] #23 closed

[2017-01-22 21:38] admataz commented on #40
I don't think this is relevant any more

[2017-01-22 21:38] #40 closed

[2017-01-22 21:39] #45 closed

[2017-01-22 21:42] admataz commented on #105
I think this can be closed and we are underway with help from @pusher. Thanks again @bookercodes

[2017-01-22 21:42] #105 closed

[2017-01-22 21:43] #104 closed

[2017-01-22 21:44] admataz commented on #103
if anyone want's to reopen this, feel free. Otherwise I'll go on ordering pizza!

[2017-01-22 21:44] #103 closed

[2017-01-22 21:44] #100 closed

[2017-01-22 21:45] #98 closed

[2017-01-22 21:46] #96 closed

[2017-01-22 21:47] #83 closed

[2017-01-22 21:48] #81 closed

[2017-01-22 21:48] admataz commented on #64
https://github.com/lnug/related-meetups

[2017-01-22 21:48] #64 closed

[2017-01-27 17:10] orliesaurus commented on #97
1. You usually google them if you don't know them by ❤️  - StackOverflow answers with hundreds of votes are usually trustworthy
2. Great question, my usual answer is that unless you fall into that specific category you're probably better off using something like PostgreSQL. However I hope someone submits a talk about this particular issue of choosing the right db for the job

[2017-02-14 23:54] admataz opened #106 "Newsletter for February 2017"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here in the comments

Anything it node.js related - releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects... only one thing - keep it London, this is LNUG.

Oh, and it's not a jobs board, so don't even try.

[2017-04-21 10:47] #106 closed

[2017-04-21 10:49] admataz commented on #8
some good discussion here - archiving

[2017-04-21 10:49] #8 closed

[2017-04-21 10:50] admataz commented on #25
nice idea, but this ain't gonna happen any time soon - I'm not sure of the effort vs benefits right now - if anyone feels the urge, please take the idea up!

[2017-04-21 10:50] #25 closed

[2017-04-21 10:54] admataz commented on #92
Great ideas here but it seems effort on this issue has been abandoned - tagging for future reference and closing

[2017-04-21 10:54] #92 closed

[2017-04-21 10:57] admataz commented on #91
now we are on meetup this isn't feasible for attendees - but we can add people manually if they come forward - and can add speakers when they put in a proposal

[2017-04-21 10:57] #91 closed

[2017-04-21 10:57] admataz commented on #58
this was a cool idea - but I think it's dead for now

[2017-04-21 10:57] #58 closed

[2017-04-21 11:18] admataz opened #107 "Increase diversity in our speaker line up"
I have had anecdotal feedback - and twitter feedback, and it's just plainly obvious that the profiles of our archive of LNUG speakers is one-dimensional in terms of gender, and probably other measures of diversity too.

I have been putting out generic calls for speakers regularly, and so far only men have responded - and even then, only just enough to fill our speaker availability each month.

For

[2017-04-21 17:13] jkbits1 commented on #92
@admataz just a final thought on this. I met with speakers in 2016 for a chat about their upcoming talks and it was useful. Something along these lines doesn't have to be too intensive for either lnug organisers or speakers

[2017-04-21 17:24] jkbits1 commented on #107
@admataz good discussion. Definitely want to progress on this.

Still, over the last year we have had female and POC speakers, and female MCs. The speakers gave excellent talks, which were very well received. The audience is reasonably diverse. As meetups go, we do well.

Because of the wider issues with diversity in tech, it is hard to attract a diverse range of speakers (this is true for other m

[2017-04-21 19:13] sole commented on #107
Hi!

Excuse me for crashing into the discussion, but as someone who's a "minority" and has also been invited to many conferences on the basis of "being a minority", I feel like I know a bit or two about this :-)

(Disclaimer: I've been a couple times to LNUG so it's not a total *kool-aid-man convo-crash*, ok?)

**If you want to get people from minorities to speak on your event, you'll have to do o

[2017-04-21 19:54] olizilla commented on #107
<3

On 21 Apr 2017 8:13 pm, "sole" <notifications@github.com> wrote:

[2017-04-21 21:17] admataz commented on #107
hi @sole -  thank you for giving the time and thought to write this  - and really opening this discussion.

I think these ideas can help us all at LNUG to start shaping our efforts. As you suggest, there's a lot more to be said - but this is a great start.

Going forward with this as a fairly informal organisation we need to appreciate that this may not be easy as we wish -  and it will take time

[2017-04-21 21:40] admataz commented on #92
@jkbits1  - yes I agree that we should continue to offer speakers support and feedback wherever possible and practical. In terms of formalising that approach we have this issue: https://github.com/lnug/planning/issues/91 in planning - which is still open.

[2017-04-24 18:41] orliesaurus commented on #107
Great reply @sole we did try different approaches in the past but this break down will definitely help us going forward! Muchas gracias :fist_right: :fist_left:

[2017-09-11 20:42] admataz opened #108 "LNUG stickers - sponsors, designs (same old, or new?)"
@lnug/organisers @lnug/contributors :

We all love stickers. New organiser @MattJLeach has been looking into arranging some new stickers for LNUG...

It would be good to find a sponsor to pay for them directly so we don't have to deal with cash and transactions... Is anyone working somewhere that would be willing to put budget to this kind of thing in exchange for a big shout out from LNUG and a l

[2017-09-27 10:09] MattJLeach commented on #108
Hi @admataz

If the plan is to sell the stickers at meetups in order to get some working funds for the group, I don't mind paying for them to start with. I could just recoup the cost from the first sales and then the rest goes to the group.

I'll bring the sample stickers that I got to the meetup tonight so you can look at the quality and then have a chat in the pub after about design. Would be ni

[2017-10-17 09:16] admataz commented on #108
hi @MattJLeach  - thanks for looking into this and providing the samples - today I ordered a batch of 200 - hopefully they arrive in time for our meetup next week

[2017-11-03 14:14] iancrowther commented on #108
Hey @admataz

I've got about 100 stickers still that I keep meaning to drop off.  I'll try and stop by the next event

[2017-11-07 22:07] admataz commented on #108
oh cool! thanks. and it will be good to see you

[2017-11-07 22:07] #108 closed

[2018-01-08 12:02] overlookmotel commented on #97
@admataz Yes, I'd still be very much interested in doing a talk. But work has completely taken over my life last few months. When I've got my current project out the door and had time to breathe, I'll revive the thread relating to that.

[2018-02-20 08:45] admataz opened #110 "Official Newsletter News Gathering Repo"
Every month we send out a newsletter or two to all our members. If you have something to add or share that you want to get out there - put it here.

- Keep it node.js related (releases, node.js in the wild, meetups, blog post links.. stories, jokes, projects,.)
- Keep it London related as much as possible.
- Keep it community related. (That's about you and the people around you using node.js)

Oh,

[2018-06-01 13:51] msmichellegar opened #111 "Themed Events"
I'd like to propose a new way of organising talks at LNUG, which I think could help focus people's creativity as they think about submitting talks, and would also allow for some more specific outreach to potential speakers.

In the past, LNUG has done "themed" events -- I'm thinking of the functional programming edition in 2016/2017. Quite a few other meetups do this successfully. Last night I wen

[2018-06-01 13:56] claireinez commented on #111
Love this idea, Michelle! I wasn't able to make it to the FP one but heard it was one of the most popular LNUG events yet. We should definitely be scouting talks; I've done it in bursts in the past but found it quite difficult without a focus but a theme makes it slightly easier to do that.

Another theme could be "Using universal JS in your apps".

[2018-06-04 22:37] admataz commented on #111
Hey @msmichellegar  - this is a great idea, thank you for raising this. I'd love to do a themed night or more for LNUG. Yes - it could be a great way to give the meetups focus and find relevant speakers. A similar approach has been discussed at various points among organisers - I think you'll find it well supported!

And I agree, currently we rely too heavily on speakers volunteering talks - it's

[2018-06-04 23:12] clarkie commented on #111
We've talked about this in the past but have struggled to get enough momentum. Lining up a bunch of speakers to talk on the same topic on the same night can be tricky but let's give it a go. Another one from me:

- Music & JS, the perfect composition!

What's the best approach to getting more people involved? Shall we create the themes as "labels" and start tagging talk proposals if they fit?

[2018-06-05 13:10] msmichellegar commented on #111
Thanks, that's excellent feedback @admataz @clarkie. Really love your suggestions! Some of those I can definitely see us being able to encourage proposals for from attendees (media and music).

How about choosing 3-4 of these, and putting them on a slide for the next LNUG? Whoever is MC-ing could give some context and ask for submissions/recommendations around these topics for August/September onw

[2018-06-05 19:44] orliesaurus commented on #110
🏏 - no one has nodejs news to share via github? :D

[2018-06-05 19:45] orliesaurus commented on #111
+1 clarkie's idea an OP's suggestion

[2018-06-08 14:22] ThomasAnkcorn commented on #110
Some news 👍
🥇   [The node.js user survey](https://nodejs.org/en/user-survey-report/2018-nodejs-user-survey-report.pdf) is encouraging and an interesting read.

🥈 https://github.com/ry/deno The creator of Node has started to build a POC based on all his lessons learnt https://github.com/ry/deno. The slide deck http://tinyclouds.org/jsconf2018.pdf explains a lot of the choices.

I have not actually

[2018-06-24 22:20] orliesaurus commented on #110
@ThomasAnkcorn visit https://lnug.org/, scroll at the bottom of the home-page & you'll see it!

[2018-06-25 16:39] msmichellegar commented on #111
Another suggestion: internationalisation.

How do we feel about making this happen? @admataz @clarkie

If so, I propose we do GraphQL for September as I will have a talk by then :) Happy to help scout speakers for that month.

[2019-01-19 10:07] admataz opened #112 "newsletter community news: January 2019"
@orliesaurus  - mostly for you and what we were discussing on gitter - with an added item:

We actually have quite a bit of community news this month - so this could be an interesting edition!

- [x] mention our new video sponsor, Nexmo:

- [x] as usual - mention NearForm and thanks for their support. New Logo:
![nearform-logo](https://user-images.githubusercontent.com/395101/51425250-56ce8280-1bd

[2019-01-23 22:57] orliesaurus commented on #112
Y I K E S - totally missed this one, will make amends 👍

[2019-02-04 09:13] orliesaurus commented on #112
Done & redeemed

[2019-02-04 09:13] #112 closed

[2019-04-25 17:46] adrianblynch opened #113 "New looking to hire/be hired"
The idea of moving the _to hire/be hired_ to somewhere away from the main stage was cool.

When I read this was happening I worried it would be like a bunch of consultants standing behind tables snatching CVs from any and all developers.

@admataz I think you orchestrating it was right, else it would be a bit awkward.

Might be an idea to add a todo item to the list for each event so someone is al

[2019-04-29 10:31] admataz commented on #113
yes, we need someone to coordinate/orchestrate every meetup to keep it from turning to a recruiter-fest. we're kindof making it up as we go - and trying to keep it real/valuable. I see it as a ramp to getting people used to talking to each other about what they are doing and giving a 30 second pitch - and open some useful conversations/connections

[2019-05-25 20:39] orliesaurus commented on #113
Maybe we give everyone a badge (hire-me or hiring) at the start when they check-in ?
I try to send regular newsletters with the - who is hiring/who wants to be hired section - if there's something else we can do to speed up things I'm all ears 👍

[2019-09-26 12:56] overlookmotel opened #114 "Cider! Wine!"
This is a rather ridiculous thing to raise an issue about, but you asked for feedback on the beverage selection last night, so...

Would it be possible to get some cider? Personally, I find a drink helpful when entering a room full of strangers, but I dislike beer.

Also, I see that encouraging a wider diversity of attendees has been discussed quite a bit here. Having wine as an option might be ap

[2019-09-26 12:59] overlookmotel commented on #114
Related to #103.

[2019-09-26 22:28] admataz commented on #114
good points, thank you.

I stopped buying wine a couple years ago because no one drank the bottles I bought! they were often leftover at the end. I swapped them out for a few bottles of prosecco  - which seem to go down well - maybe I should try wine again or increase the prosecco count - but will also add some cider and see how that goes. Personally I don't like cider - so label recommendations a

[2019-09-29 13:19] overlookmotel commented on #114
@admataz Ah sorry please ignore me on the wine then - no point buying it if no-one drinks it.

Cider: Like beer, I guess people have different tastes. I'd say Aspalls or Stowford Press are probably safe bets - seem to be popular in pubs. Avoid Strongbow if you can - it's cheap, but pretty foul. But, beyond that, for me at least, I don't think the brand is that important - anything is better than t

[2019-09-29 16:37] admataz commented on #114
@overlookmotel  - thanks! no offence taken at all  - will look to add some cider for next month's order - and not strongbow - which from your description can probably be blamed for why I don't like cider 😄

[2020-01-22 23:27] Ankcorn opened #115 "LNUG 2020 - January - Lacked"
Thank you all for your feedback, this thread is a place to figure out what we should do at the next LNUG to address the following feedback items (in order of delivery)

LNUG lacked

* Speakers like rob (in 2019)
* Break Chat Support (For socially awkward people) Liberating structures?
* Discord Group
* Veggie Pizza should be marked

I'd love for us to have all these addressed by the February meetu

[2020-01-25 11:53] admataz commented on #114
cider is now on the regular list

[2020-01-25 11:53] #114 closed

[2020-01-25 11:54] admataz commented on #113
Our regular  "jobs table" in the break has been a success - closing this

[2020-01-25 11:54] #113 closed

[2020-02-27 08:55] Ankcorn opened #116 "Help speakers stick to 20 minutes and format of lnug"
Thanks, @GiacomoSorbi for really respectfully raising this on meetup. I have copied this over to a GitHub issue as it is a better forum to have a productive discussion around how we can change things.

The comment was

 I confirm my talk will be 20 mins long 🤞🏾
This intention was definitely not confirmed and while the talk somehow derailed to a bit more than a hour, I believe it would have been be

[2020-02-27 10:43] robtweed commented on #116
Unfortunately I'm already booked to give a talk on the 4th March, so I can't make the workshop on how to create a talk proposal. However, I'd be happy to provide guidance on how to prepare an effective presentation at some future workshop if that would be helpful to the community?

[2020-02-27 10:53] Ankcorn commented on #116
@robtweed I'm sorry we have a clash!

@admataz is doing a lightning talk on talking at meetups at the start but if you have some words of wisdom to share then that would totally be appreciated! 🤘🥳

[2020-02-27 10:53] GiacomoSorbi commented on #116
I think having a handy timer (physical or digital - up to you) in the talker sight might be enough; politely soliciting the talker to wrap things up in a few mins might also be a good option.

[2020-02-27 11:03] robtweed commented on #116
1) My "golden rule" for any presentation is to think "so what?".  ie, what I'm going to talk about might be the coolest stuff on earth, but if everyone goes away thinking "well that sure looked cool, but so what?"  (in other words, how or why was that relevant to the audience and their problems?), then your presentation will be largely wasted on everyone.  The key is "know thy audience" and make y

[2020-02-27 11:16] robtweed commented on #116
2) 20 minutes is almost *no time at all* once you're up there.  My rule of thumb for slides with text on them is 2 minutes per slide minimum - so if you're not even demo-ing anything any more than 8 - 10 slides and you'll almost certainly over-run.  A 20 minute talk is only going to allow you to cover a very small amount of information, so you must keep VERY focused on the info you're trying to im

[2020-02-27 11:27] Ankcorn commented on #116
A physical timer would totally work well good idea 👍

[2020-02-27 11:27] Ankcorn commented on #116
Nice I love it! Thanks @robtweed

[2020-02-27 11:28] robtweed commented on #116
3) Rehearse, rehearse, rehearse.  Personally I do this in my head rather than out loud.  I'll go through the slides and demo over and over, tuning it, focusing it.  By the time you give your presentation, you should feel like this is the nth time your've done it.  DON'T go off script on the day - you'll sink without trace.  Remember the audience have taken time out of their personal lives to come

[2020-02-27 11:32] robtweed commented on #116
4) If you're doing a demo, you're going to a) need to allow at least 10 minutes which, again, is no time at all; so b) you're going to have to be VERY focused about what you attempt to demo; and c) make sure you rehearse the demo several times over and ensure it fits into the time; d) ideally have most of the demo pre-written so you're not making mistakes and end up just showing it crashing in fro

[2020-02-27 11:39] robtweed commented on #116
A presentation is like an ice-berg.  That 20 minutes the audience sees hides many hours of work that it took to make it effective.  A good speaker will make it seem very easy on the day.  But actually it never is.  If it looked easy, that's hard work and hard-earned experience at play!
 Experience definitely helps - the more presentations you do, the better you can become...but only if you review

[2020-02-27 11:46] robtweed commented on #116
All that being said, don't let it put you off giving a presentation.  Like learning to drive a car, we all gave a first presentation at some time and it was one of the scariest things we ever did!  But hopefully some of my thoughts/experience above will help you avoid a car crash on your first outing! :-)

[2020-02-27 11:55] robtweed commented on #116
On the subject of demos / live coding - once again think "so what?"  Why are you demo-ing / coding what you're doing.  What are you trying to get the audience to take away from that demo/coding?  If it doesn't add to the message, don't feel you have to demo at all - instead is there somewhere you can send the audience too afterwards where they can quickly and easily try it for themselves?  Or poin

[2020-02-27 12:17] Ankcorn commented on #116
👏 👏

This is awesome! I'm bookmarking this for future use thanks rob. This is going to be really helpful it should totally be shared where it will get more 👀 than this issue. Thank you

[2020-02-27 12:22] robtweed commented on #116
You're welcome!  I hope it helps :-)

[2020-02-27 12:42] robtweed commented on #116
One final thought: like any rules, feel free to break them, but I'd suggest only do so if you have the experience and/or confidence to do so.  eg if you look at the video of my talk and count the number of slides I used you'll be shocked - there were over 100!  But if you watch, I'm constantly skipping through them to provide a backdrop to what I'm saying.  Many of the slides are actually builds o

[2020-02-27 12:44] robtweed commented on #116
And, like a good meal, it's usually better to leave the audience wishing for more rather than going away bloated!

[2020-02-29 23:13] Ankcorn commented on #116
Thanks Rob. I'm going to summarise this at our workshop. It's totally awesome. Thanks for all the time you put into writing it.

You should totally immortalise it as a blog post or feel free to submit a PR to add it to the speakers GitHub repo! I for one will be referring to this frequently before any future talks. A GitHub issue is far too temporary for something this legendary!

[2020-03-01 04:55] GiacomoSorbi commented on #116
I would also add that having a short break might help: unless there is an active networking session for job seekers (which is not always there), 25 mins of break are far too much, IMHO: most people lose focus/mindset to follow further talks.

10 mins are more than enough to grab some more food or drinks or catch up with other attendants, and 15 mins of extra sleep (going home earlier) are always w

[2020-03-02 16:04] Ankcorn commented on #116
@lnug/organisers thoughts. I think we could do a 10-15 minute break. It would be fairer for people who need to get home.

It also gives me more pub time! 🍻

[2020-03-02 16:17] hewIngram commented on #116
Yeah I can see this - I think if we're stricter we can keep the break tighter around the jobs table session (or whatever else we run) that might work - theres ample time to chat before/after so it could work.

Lets try it next month and see?

[2020-05-28 09:06] #110 closed

[2020-05-28 09:15] admataz opened #117 "Feedback to LNUG #94 - 27th May 2020"
If you were at the @LNUGorg meetup last night I’d love to hear some feedback on how it went for attendees. Was it OK? How can we make the remote format work better? I’m  missing the chit-chat and audience participation and feedback! Please respond. in the comments here.

[2020-05-28 09:27] phazonoverload commented on #117
Additional thought: I think a midway break is good and allows us to make full use of the features available, while giving time to communicate any changes (like running over)

[2020-05-28 15:35] admataz commented on #117
Hey @phazonoverload  - thanks that's all useful feedback

- 2 talks I agree - I kinda knew this already as it's the same pressure in real life meetups. It's a balance - I think the learning here is to get speakers lined up a little earlier. We left it late to confirm - and by then we had more confirmations than we could say no to.

- getting speakers to stick to time limits is hard in person too -

[2020-05-28 15:42] phazonoverload commented on #117
Just checked again - was about 80.

Recordings - they seem ok to me! Just downloading and will send you the link once it's done. I think a tiny amount of the last one got chopped off. You can assess.

Honestly my experience with multi-person video is that it's computationally expensive. Whether it's our APIs, others, Google Meet, Zoom, etc, they all seem to get machines hot. This said, I will pass

[2020-05-28 15:56] phazonoverload commented on #117
Actually I just checked - [the recording](https://drive.google.com/file/d/1CnAZ1FhGbB1VuuVziG_r3kvcqDRZFnSt/view?usp=sharing) capped out at 2 hours so we lost a bit of David's. I think if I had ended and restarted the recording for each speaker it would have worked better - I'll do this next time. Sorry!

[2020-06-25 13:49] phazonoverload opened #118 "LNUG 95 - June 24 2020"
@lnug/organisers

Thought I'd spin up this thread for event feedback on LNUG 95.

1. Event worked well logistically - I think everyone who attended the networking turned on their mic and camera.
1. 28 people - a big reduction on LNUG 94. I wonder why this is? Maybe because it was a nice day out?
1. Timing was MUCH better than LNUG 94. Talks didn't run over, and the end wasn't rushed - it found it'

[2020-06-29 21:43] admataz commented on #118
Hi @phazonoverload
Thanks for this feedback - sorry, I took a break after the event and have just got back to my inbox.

To address the points briefly:

1. I had lots of good feedback about the platform and that side of things. Thank you again for organising
2. We can only guess really why one month is better attended than another - I was disappointed at the turnout. A few things: LNUG 94 had a bi

[2020-12-08 23:33] #107 closed

[2020-12-08 23:33] #111 closed

[2020-12-08 23:33] #115 closed

[2020-12-08 23:33] #116 closed

[2020-12-08 23:33] #117 closed

[2020-12-08 23:33] #118 closed